<footer class="qr-footer">
  <div class="center-column">
    <div class="social-media-wrapper-footer">
      {% for item in site.data.settings.social %}
      <a href="{{ item.link }}" target="_blank"
        ><img
          src="{{ site.github.url }}/assets/img/white-{{ item.image }}"
          alt="{{ item.alt }}"
      /></a>
      {% endfor %}
    </div>
    <p>
      CONTACT:
      <br />
      <a
        href="mailto:voiceyourplace@gmail.com?subject = Feedback&body = Message"
      >
        voiceyourplace@gmail.com
      </a>
    </p>
    <div class="footer-description-home-page">
      <a href="{{ site.github.url }}/">{{ site.footer }} </a>
    </div>
  </div>

  <div class="center-column-responsive">
    <p>Urmăriți-ne pe:</p>
    <div class="social-media-wrapper-footer">
      {% for item in site.data.settings.social %}
      <a href="{{ item.link }}" target="_blank"
        ><img
          src="{{ site.github.url }}/assets/img/white-{{ item.image }}"
          alt="{{ item.alt }}"
      /></a>
      {% endfor %}
    </div>
    <p>
      CONTACT:
      <br />
      <a
        href="mailto:voiceyourplace@gmail.com?subject = Feedback&body = Message"
      >
        voiceyourplace@gmail.com
      </a>
    </p>
    <div class="footer-description-home-page">
      <a href="{{ site.github.url }}/">{{ site.footer }} </a>
    </div>
  </div>
</footer>
