.content-wrapper-community {
  padding-top: $header-thickness + 10px;
  padding-left: 20%;
  padding-right: 20%;
  width: 60%;
  margin-bottom: auto;
}

.footer-note {
  text-align: center;
  font-style: italic;
  margin: 30px;
  padding-left: 20%;
  padding-right: 20%;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.gallery-item {
  margin: 10px;
  flex: 0 0 calc(33.3333% - 20px); /* 3 images per row */
  max-width: calc(33.3333% - 20px);
  perspective: 1000px;
}

// @media (max-width: 600px) {
//   .gallery-item {
//       flex: 0 0 calc(50% - 20px); /* 2 images per row on smaller screens */
//       max-width: calc(50% - 20px);
//   }
// }

@media (max-width: 600px) {
  .gallery-item {
      flex: 0 0 100%; /* 1 image per row on even smaller screens */
      max-width: 100%;
  }

  #gallery {
    display: flex;
    flex-wrap: wrap;
  }
}

.flip-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%; /* Square container */
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.flip-container:hover .flipper {
  transform: rotateY(180deg);
}

.flipper {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.front img,
.back img {
  max-width: 100%;
  height: 600px;
  height: auto;
  border-radius: 16px;
}

.back {
  transform: rotateY(180deg);
}

