/*
  Site container
*/

.container {
  background-color: $brand-color;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
.container a {
  text-decoration: underline;
}
.content-wrapper {
  padding-top: $header-thickness + 10px;
  margin: auto;
  display: block;
  width: $container-width - 200px;
}

.right-div {
  width: 200px;
}

.content-wrapper h1 {
  margin: 20px 0px 5px;
}
@media (max-width: $container-width) {
  .container {
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
  }
  .content-wrapper {
    padding-top: $header-thickness + 10px;
    margin: auto;
    display: block;
    width: 95vw;
  }
}

// Home Page

.container-home {
  background-color: #ffffff;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
.container-home a {
  text-decoration: underline;
}
.content-wrapper-home {
  padding-top: $header-thickness + 10px;
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: auto;
  width: $container-width - 200px;
}

.split-container {
  display: flex;
  width: 100%;
}

@media (max-width: $container-width) {
  .split-container {
    display: flex;
    flex-direction: column-reverse;
    // center
    align-items: center;
    width: 100%;
  }
}

.content-wrapper-home-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 19%;
  font-size: large;
}

.content-wrapper-home-page img {
  height: 100%;
  width: 100%;
}

.content-wrapper-home-page h1 {
  margin-right: auto;
}


.content-wrapper-home-page a {
  height: 30%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: $container-width) {
  .content-wrapper-home-page {
    padding-left: 10%;
    padding-right: 10%;
  }
}

.content-home-page-image {
  flex: 4;
  padding: 20px;
}

.content-home-page-image img {
  height: auto;
  width: auto;
  max-width: none;
}

@media (max-width: $container-width) {
  .content-home-page-image img {
    width: 100%;
  }
}


.right-div-home {
  width: 200px;
  height: 150px;
}

.content-wrapper-home h1 {
  margin: 20px 0px 5px;
}
@media (max-width: $container-width) {
  .container-home {
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
  }
  .content-wrapper-home {
    padding-top: $header-thickness + 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    width: 95vw;
  }
}

// Social Media

.social-media-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 6%; 
  height: 100%;
  padding: 20px; /* Optional: Add padding for content */
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center; /* Align items with space between them */
  align-items: center;
}


.social-media-wrapper-home-page {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center; /* Align items with space between them */
  align-items: center;
}

@media (max-width: $container-width) {
  .social-media-wrapper-home-page {
    display: flex;
    width: 50%;
    gap: 10%;
  }
}



.contact-social-media {
  display: flex;
  flex-direction: column;
}


// Contact

button {
  padding: 10px;
  background-color: $brand-color;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #1e1a4e;
}

input, textarea {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

.contact-form-wrapper {
  display: flex;
  justify-content: space-between;
  width: 900px; /* Adjust the width as needed */
}
