.site-header-audio-ghid {
  min-height: 56px;
  width: 100%;
  top: 0;
  background-color: #25215E;
}

.site-header-audio-ghid img {
  height: 10%;
  width: 10%;
  max-width: 172px;
  max-height: 172px;
  margin-bottom: 0;
  margin-top: 30px;
  padding-left: 20%;
  float: left;
}

.site-header-audio-ghid a {
  text-decoration: none;
}

@media (max-width: $container-width) {
  .site-header-audio-ghid {
    min-height: 56px;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    box-shadow: 0 5px 6px -6px #bbb;
    z-index: 100;
  }

  .site-header-audio-ghid img {
    height: 20%;
    width: 20%;
    max-width: 172px;
    max-height: 172px;
    margin-bottom: 0;
    padding-left: 0%;
    margin-top: 0px;
    float: left;
  }
}

.menu-list-audio-ghid {
  line-height: $header-thickness;
  float: right;
  margin-top: 30px;
  padding-right: 20%;
}

@media (max-width: $container-width) {
  .menu-list-audio-ghid {
    display: none;
  }
}

.menu-link-audio-ghid {
  padding: 5px 10px;
  color: #ffffff;
  font-size: larger;
}
