.proiect-title {
  margin-bottom: 0.5rem;
  font-family: Raleway;
  font-weight: bold;
  line-height: 1.25;
  font-size: 40px;
  text-rendering: optimizeLegibility;
  text-align: center;
  width: 50%;
}

.proiect-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.proiect-container p {
  line-height: 20.4px;
  font-size: 14px;
  text-align: justify;
  margin-top: 0;
}

.proiect-left-half,
.proiect-right-half {
  width: 50%;
  min-height: 200px; /* Adjust as needed */
}

.proiect-left-half p:first-child {
  padding-top: 38.4px;
}

.proiect-left-half {
  display: flex;
  flex-direction: column;
  padding-right: 2%;
}

.proiect-left-half img {
  width: 100%;
  height: auto;
  display: block; /* This ensures the image takes the full width available */
  margin-left: auto; /* Align the image to the right */
  margin-right: auto; /* Align the image to the right */
}

// Add style for figcaption align to right
.proiect-left-half figcaption {
  color: #000000;
  text-align: right;
  font-style: italic;
  padding: 2px;
  font-size: 0.8rem;
}

.proiect-right-half {
  display: flex;
  flex-direction: column;
  padding-left: 2%;
}

.content-wrapper-project {
  padding-top: $header-thickness + 10px;
  margin-left: 20%;
  margin-right: 20%;
}

figcaption {
  color: #000000;
  font-style: italic;
  padding: 2px;
  text-align: center;
}

/* Add a media query for screens smaller than 768px (adjust as needed) */
@media  (max-width: $container-width) {

  .social-sponsors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .social-sponsors img {
    max-width: 400px;
  }

  .proiect-title {
    width: 100%;
    display: none;
  }

  .proiect-container {
    flex-direction: column; /* Stack items vertically on smaller screens */
  }

  .proiect-left-half,
  .proiect-right-half {
    display: flex;
    flex-direction: column;
    width: 100%; /* Adjusted width for smaller screens */
    margin-block-start: 0;
    margin-block-end: 0;
    
    p:first-child {
      padding-top: 10%;
    }
  
    p {
      order: 2;

    }
  
  }
  
  .content-wrapper-project {
    /* ... existing styles ... */
    width: 90%;
  }
  
  .proiect-container p {
    /* ... existing styles ... */
    font-size: 16px; /* Adjusted font size for better readability on smaller screens */
    line-height: 1.5;
  }
  
  .proiect-left-half img {
    /* ... existing styles ... */
    margin-left: 0; /* Center the image */
  }
  
  .proiect-left-half figcaption {
    /* ... existing styles ... */
    text-align: center; /* Center align figcaption on smaller screens */
    display: none;
  }

  .proiect-container {
    // padding: 0 10px; /* Add some padding to the container for smaller screens */
  }

  .proiect-left-half figure {
    order: 1;
  }


  .proiect-left-half,
  .proiect-right-half {
    width: 100%; /* Adjusted width for smaller screens */
    padding: 0; /* Remove padding for smaller screens */
  }

}