.proiect-title {
  margin-bottom: 0.5rem;
  font-family: Raleway;
  font-weight: bold;
  line-height: 1.25;
  font-size: 40px;
  text-rendering: optimizeLegibility;
}

.proiect-container {
  display: flex;
  justify-content: center;
}

.proiect-left-half,
.proiect-right-half {
  width: 50%;
  min-height: 200px; /* Adjust as needed */
}

.proiect-left-half {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 2%;
}

.proiect-right-half {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2%;
}

.content-wrapper-project {
  padding-top: $header-thickness + 10px;
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: auto;
}

figcaption {
  color: #000000;
  font-style: italic;
  padding: 2px;
  text-align: center;
}