.proiect-title {
  margin-bottom: 0.5rem;
  font-family: Raleway;
  font-weight: bold;
  line-height: 1.25;
  font-size: 40px;
  text-rendering: optimizeLegibility;
  text-align: center;
  width: 50%;
}

.proiect-container {
  display: flex;
  justify-content: center;
}

.proiect-container p {
  line-height: 22.4px;
  font-size: 14px;
  text-align: justify;
  margin-top: 0;
}

.proiect-left-half,
.proiect-right-half {
  width: 50%;
  min-height: 200px; /* Adjust as needed */
}

.proiect-left-half {
  display: flex;
  flex-direction: column;
  padding-right: 2%;
}

.proiect-left-half img {
  width: 100%;
  height: auto;
  display: block; /* This ensures the image takes the full width available */
  margin-left: auto; /* Align the image to the right */
  margin-right: auto; /* Align the image to the right */
}

// Add style for figcaption align to right
.proiect-left-half figcaption {
  color: #000000;
  text-align: right;
  font-style: italic;
  padding: 2px;
  font-size: 0.8rem;
}

.proiect-right-half {
  display: flex;
  flex-direction: column;
  padding-left: 2%;
}

.content-wrapper-project {
  padding-top: $header-thickness + 10px;
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: auto;
}

figcaption {
  color: #000000;
  font-style: italic;
  padding: 2px;
  text-align: center;
}