.story-comunitate-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story-comunitate-title p:first-child {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 22.4px;
  text-align: center;
}

.story-comunitate-title p:last-child {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  margin-left: 50%;
  text-align: center;
}

.story-comunitate-content {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.story-comunitate-content p {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  margin-left: 10%;
  text-align: left;
}