.story-comunitate-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story-comunitate-title {
  width: 60%;
}

.story-comunitate-title p:first-child {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 22.4px;
  text-align: left;
}

.story-comunitate-title p:last-child {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  padding-bottom: 5%;
}

.story-comunitate-content {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-bottom: 5%;

}

.story-comunitate-content p {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  text-align: left;
  text-align: justify;
  line-height: 1.4;
  margin-top: 0;
}



// Overwrite the default styles for the header
.site-header-home {
  position: relative;
}