---
layout: default-audio-guide
title: Biserica Sfântul Nicolae Domnesc
---

<div class="audio-video-container">
  <div class="audio-image">
    <a href="/ro/audio-guide">
      <img src="/assets/img/prev-button.svg" />
    </a>
    <img src="/assets/img/casti-audio-ghid.svg" />
    <a href="/ro/san-nicoara">
      <img src="/assets/img/next-button.svg" />
    </a>
  </div>
  <h1 class="title-audio-ghid">{{ page.title }}</h1>
  <div class="audio-video-wrapper">
    <div class="prev-button">
      <a href="/ro/audio-guide">
        <img src="/assets/img/prev-button.svg" />
      </a>
      <div class="prev-button-description">
        <p> Episod anterior </p>
        <a href="/ro/audio-guide">
          <p> Despre audio ghid </p>
        </a>
      </div>
    </div>

  <div class="media-player">
    <div class="progress-container">
      <span class="current-time" id="current-time">0:00</span>
      <input
        type="range"
        min="0"
        max="100"
        value="0"
        class="progress-bar"
        id="progress-bar"
      />
      <span class="total-time" id="total-time">0:00</span>
    </div>
    <div class="play-button-container">
      <div class="play-button" id="play-button">
        <span class="play-icon">
          <img src="/assets/img/play-button.png"> </img>
        </span>
        <span id="pause-icon" style="display: none">
          <img src="/assets/img/pause-button.png"> </img>
        </span>
      </div>
    </div>
    <audio id="audio" src="/assets/audio/VYP_Ep5_Domneasca_RO_compressed.mp3"></audio>
  </div>

    <script src="/assets/js/script.js"></script>

    <div class="next-button">
      <div class="next-button-description">
        <p> Următorul episod: </p>
        <a href="/ro/san-nicoara">
          <p> Ruina Sân Nicoară </p>
        </a>
      </div>
      <a href="/ro/san-nicoara">
        <img src="/assets/img/next-button.svg" />
      </a>
    </div>
  </div>  
    <div class="audio-video-description-wrapper">
      <div class="audio-video-description-header">
        <p>
          DESPRE EPISOD:
        </p>
        </div>
      <div class="audio-video-description-content">
        <p>
          Text narat de: Maria Simion și Andra Șerban
        </p>
        <p>
          Prezentare: Radu Răducanu
        </p>
        <p>
          Povestiri: Eduard Băiașu și Nectaria Craus
        </p>
        <p>
          Editare și mixaj: Maria Salomia
        </p>
      </div>
    </div>
    <div class="audio-video-description-wrapper">
      <div class="audio-video-description-header">
        <p>
          DESPRE OBIECTIV:
        </p>
      </div>
      <div class="audio-video-description-content">
        <p>
          Biserica de secol XIV, parte a curții domnești, construită de Basarab I - întemeietorul Valahiei. De stil bizantin, cu plan de tip cruce greacă înscrisă, restaurată la 1911 și readusă la forma sa originală.
        </p>
      </div>
    </div>
  </div>
  <div class="photo-buttons">
    <div class="image-wrapper">
      <img src="/assets/img/biserica-domneasca.jpg" />
    </div>
  </div>
  <div class="next-story">
    <div class="next-story-description">
      <p>
        Vizitați în continuare pe traseu:
      </p>
      <p>
        <a href="/ro/san-nicoara">
          Ruinele Bisericii Sân Nicoară
        </a>
      </p>
    </div>
      <img src="/assets/img/tooltip.png" alt="Tooltip"/>
  </div>
  <div class="audio-video-locuri-povesti">
    <h1 class="title-audio-ghid">Locuri și povești</h1>
    <p>
    La atelierul de scriere creativă din cadrul Școlii de Vară Voice Your Place: Curtea de Argeș participanții au scris o serie de povești scurte în relație cu cele șase obiective de patrimoniu. Pentru cineva care le are aproape, locurile acestea pot însemna o mulțime de alte lucruri: acasă, familie, prietenie, copilărie, adolescență, școală. Poveștile sunt integrate în audio ghid sub forma unor fragmente care își propun să aducă mai aproape ascultătorul de viața comunității locale.
    </p>
  </div>
  <div class="audio-video-poveste">
    <p>
      Părinții
    </p>

    <p> 
      de Nectaria Craus
    </p>

    <p>
      Orașul Curtea de Argeș este atât de vechi și totuși atât de nou pentru mine. Familia mea s-a mutat aici din altă parte. Am descoperit locul crescând și mi se pare că este în așteptarea persoanelor noi.
    </p>

    <p>
      Sunt o fire gânditoare, care se stresează ușor. Câteodată nici eu nu mă mai înțeleg și atunci caut să dau spațiu minții mele, ieșind cu bicicleta. În timp ce pedalez, îmi place sa îi privesc pe trecători și să le analizez expresiile feței. Mă întreb ei ce părere au despre micul nostru oraș, unde te întâlnești mereu cu cineva cunoscut: un profesor, un coleg de clasă, fetele de la bloc care încearcă să vândă brățări. Dar cum rămane cu monumentele? Localnicii le mai apreciază sau nici nu le mai observă?
    </p>

    <p>
      În timpul plimbării, am flashback-uri cu diverse întâmplări trăite în oraș: mănăstirea este locul unde am plimbat-o pe prietena mea din America, Connie. Atunci am realizat pentru prima dată că sunt mândră de locul în care trăiesc. Biserica Domnească este locul unde am avut una dintre cele mai semnificative discuții cu un prieten drag, analizând citate celebre din Oscar Wilde și vorbind despre visurile noastre. Mi-ar plăcea ca o zi pe săptămâna (duminica) bulevardul de la Biserica Domnească la Mănăstire să fie pietonal, eventual străbătut de o trăsură sau două.
    </p>
    
    <p>
      Clădirile vechi veghează asupra noastră și câteodată am senzația că ne cunosc secretele, chiar și momentele stânjenitoare.
    </p>

  </div>

  <div class="related-story-title">
    Alte povești de la {{ page.title }}:
  </div>

  <div class="related-story">
    {% for post in site.data.settings.community-stories %}
      {% if post.location == "BisericaDomneasca" %} 
        <a href="{{ post.url }}">
          <p>
            {{ post.title }} de {{ post.author }}
          </p>
        </a>
      {% endif %}
    {% endfor %}
    </br>
    </br>
    </br>
    </br>
  </div>

</div>
<i> {{page.footer-note}} </i>
