---
layout: default-audio-ghid
---

<div class="audio-video-container">
  <div class="audio-image">
    <a href="/gara-regala">
      <img src="/assets/img/prev-button.svg" />
    </a>
    <img src="/assets/img/casti-audio-ghid.svg" />
    <a href="/audio-ghid">
      <img src="/assets/img/next-button.svg" />
    </a>
  </div>
  <h1 class="title-audio-ghid">{{ page.title }}</h1>
  <div class="audio-video-wrapper">
    <iframe scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1661767101&color=%23ff5500&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/voice-your-place" title="Voice Your Place" target="_blank" style="color: #cccccc; text-decoration: none;">Voice Your Place</a> · <a href="https://soundcloud.com/voice-your-place/casa-norocea" title="Casa Norocea" target="_blank" style="color: #cccccc; text-decoration: none;">Casa Norocea</a></div>
    <div class="audio-video-description-wrapper">
      <div class="audio-video-description-header">
        <p>
          DESPRE EPISOD:
        </p>
        </div>
      <div class="audio-video-description-content">
        <p>
          Text narat de: Izabela Stoica și Eliza Rada
        </p>
        <p>
          Prezentare: Radu Răducanu
        </p>
        <p>
          Povestiri: Alexia Jianu și Eliza Rada
        </p>
        <p>
          Editare și mixaj: Maria Salomia
        </p>
      </div>
    </div>
    <div class="audio-video-description-wrapper">
      <div class="audio-video-description-header">
        <p>
          DESPRE OBIECTIV:
        </p>
      </div>
      <div class="audio-video-description-content">
        <p>
          Casa pictorului Dumitru Norocea, unul dintre cei mai importanți restauratori de pictură. Cu ajutorul arhitectului Grigore Cerchez, își construiește casa în 1924 într-un stil neoromânesc. În prezent Muzeu de Etnografie, aici se regăsește și o expoziție de picturi realizate de celebrul restaurator.
        </p>
      </div>
    </div>
  </div>
  <div class="photo-buttons">
      <div class="prev-button">
        <a href="/gara-regala">
          <img src="/assets/img/prev-button.svg" />
        </a>
        <div class="prev-button-description">
          <p> Episod anterior </p>
          <a href="/gara-regala">
            <p> Gara Regală </p>
          </a>
        </div>
      </div>  
    <div class="image-wrapper">
      <img src="/assets/img/san-nicoara.svg" />
    </div>
    <div class="next-button">
      <div class="next-button-description">
        <p> Următorul episod: </p>
        <a href="/audio-ghid">
          <p> Despre audio ghid </p>
        </a>
      </div>
      <a href="audio-ghid">
        <img src="/assets/img/next-button.svg" />
      </a>
    </div>
  </div>
  <div class="next-story">
    <div class="next-story-description">
      <p>
        Vizitați în continuare pe traseu:
      </p>
      <p>
        <a href="/biserica-domneasca">
          Biserica Sfântul Nicolae Domnesc
        </a>
      </p>
    </div>
      <img src="/assets/img/tooltip.png" alt="Tooltip"/>
  </div>
  <div class="audio-video-locuri-povesti">
    <h1 class="title-audio-ghid">Locuri și povești</h1>
    <p>
      La atelierul de scriere creativă din cadrul Școlii de Vară Voice Your Place Curtea de Argeș participanții au scris o serie de povești scurte în relație cu cele șase obiective de patrimoniu cu îndrumarea Cristinei Chira. Pentru cineva care le are aproape, locurile acestea pot însemna o mulțime de alte lucruri: acasă, familie, prietenie, copilărie, adolescență, școală (cu tot ce au ele bun și mai puțin bun).  Poveștile sunt integrate în audio ghid sub forma unor fragmente care își propun să aducă mai aproape ascultătorul de viața comunității locale.
    </p>
  </div>
  <div class="audio-video-poveste">
    <p> Nu atingeți exponatele <br>
      de Eliza Rada
    </p>

    <p>
      Știți cum se zice, că înainte să mori, viața ta ți se derulează în fața ochilor și timpul nu mai contează? Ei bine, eu m-am întrebat cum de am ajuns în situația asta.
    </p>

    <p>
      Era o zi obișnuită, iar eu și prietenii mei discutam despre următorul loc pe care aveam să-l explorăm. Aveam un obicei tare drăguț. În fiecare vineri noaptea, în jurul orei douăsprezece, mergeam și cercetam obiective istorice, numai noi cinci. Totul începuse cu șase luni în urmă și fusese ideea lui Ștefan. Deși nu era perfect legal ce făceam, niciodată nu vandalizasem nimic.
    </p>

    <p>
      Din moment ce orașul în care locuim este unul istoric, am decis să facem o listă cu toate obiectivele și să tragem la sorți care va fi următorul. De data aceasta, Victoria a extras Casa Norocea, care a aparținut unuia dintre cei mai talentați pictori restauratori. Eu m-am entuziasmat pentru că eram pasionată de desen.
    </p>
    
    <p>
      Ca de obicei, ne-am întâlnit la miezul nopții în fața obiectivului. Fiecare avea o lanternă și eram îmbrăcați cu haine lejere, negre. Victoria și Otilia s-au ocupat de încuietoare, Ștefan și Andra de camerele de luat vederi, iar eu de sistemul de securitate.
    </p>

    <p>
      Am intrat și am început să explorăm. Cum Andrei îi place istoria, a început să ne povestească despre trecutul locului, dar eu eram prea captivată de arta din casă. M-am apropiat de tabloul unei femei. Toate erau frumoase, dar acesta era diferit. Femeia avea ochii albaștri ca valurile mării și părul cârlionțat și negru precum abanosul. Pielea ei albă exprima rafinament.
    </p>

    <p>
      Marea greșeală a fost să îndrăznesc să pun mâna. În secunda în care am atins tabloul, am rămas blocată în el, legată de casa aceasta pentru totdeauna, în timp ce corpul meu zăcea rece pe podea.
    </p>

    <p>
      Cu moartea mea s-a declanșat haosul: cărțile zburau, clapele pianului scoteau sunete disonante, ușile se deschideau singure, geamurile s-au spart. Prietenii mei s-au speriat și au fugit. Numai eu am înțeles că restul sufletelor încercau nu să-i rănească, ci să-i sperie, ca să nu rămână și ei prizonieri în casă.
    </p>

    <p>
      Marea iubire a pictorului este cea care colecționează suflete ca să-i împărtășească suferința. Tablourile sunt modul ei de a acționa, tablouri la care soțul ei a ținut mai mult decât la orice, mai mult decât la ea.
    </p>

  </div>

  <div class="related-story-title">
    Alte povești de la {{ page.title }}:
  </div>

  <div class="related-story">
    {% for post in site.data.settings.community-stories %}
      {% if post.location == "CasaNorocea" %} 
        <a href="{{ post.url }}">
          <p>
            {{ post.title }} de {{ post.author }}
          </p>
        </a>
      {% endif %}
    {% endfor %}
    </br>
    </br>
    </br>
    </br>
  </div>

</div>
<i> {{page.footer-note}} </i>
