---
layout: default-community
---

<div id="gallery">
  {% for item in site.data.settings.community %}
  <div class="gallery-item">
    <div class="flip-container">
      <div class="flipper">
        <div class="front">
          <a href="{{ item.url }}">
            <img src="{{ site.github.url }}/assets/img/{{ item.front }}" />
          </a>
        </div>
        <div class="back">
          <a href="{{ item.url }}">
            <img src="{{ site.github.url }}/assets/img/{{ item.back }}" />
          </a>
        </div>
      </div>
    </div>
  </div>

  {% endfor %}
</div>
