<!doctype html>
<html>
  {% include head-home.html %}
  <body>
    <div class="container-home">
      {% include header-home.html %}
        <div class="content-wrapper-project">{{ content }}</div>
      {% include footer-home.html %}
    </div>
    <div class="social-media-wrapper">
      {% for item in site.data.settings.social %}
        <a href="{{ item.link }}" class="menu-link-home" target="_blank"><img src="{{ site.github.url }}/assets/img/{{ item.image-bar }}" /></a>
      {% endfor %}
    </div>  

  </body>
</html>
