---
layout: en-default-audio-guide
---

<div class="audio-video-container">
  <div class="audio-image">
    <a href="/en/casa-norocea">
      <img src="/assets/img/prev-button.svg" />
    </a>
      <img src="/assets/img/casti-audio-ghid.svg" />
    <a href="/en/biserica-domneasca">
      <img src="/assets/img/next-button.svg" />
    </a>
  </div>
  <h1 class="title-audio-ghid">{{ page.title1 }}</h1>
  <h1 class="title-audio-ghid">{{ page.title2 }}</h1>
  <div class="audio-video-wrapper">
    <div class="prev-button">
      <a href="/en/casa-norocea">
        <img src="/assets/img/prev-button.svg" />
      </a>
      <div class="prev-button-description">
        <p> Previous episode </p>
        <a href="/en/casa-norocea">
          <p> The Norocea House </p>
        </a>
      </div>
    </div>

    <iframe scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1859957403&color=%23422852&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>

    <div class="next-button">
      <div class="next-button-description">
        <p> Next episode </p>
        <a href="/en/biserica-domneasca">
          <p> St. Nicholas Church </p>
        </a>
      </div>
      <a href="/en/biserica-domneasca">
        <img src="/assets/img/next-button.svg" />
      </a>
    </div>

    </div>
    <div class="audio-video-description-wrapper">
      <div class="audio-video-description-header">
        <p>
          EPISODE CREDITS:
        </p>
        </div>
      <div class="audio-video-description-content">
        <p>
          The audio guide was made during the Voice Your Place Summer School: Curtea de Argeș, by teenagers from the local community, with the support of workshop coordinators.
        <p>
          Thanks to the participants, collaborators, volunteers, friends, partners, sponsors and everyone who contributed to its realization!
        </p>
      </div>
    </div>
  </div>
  <div class="photo-buttons">
    <div class="image-wrapper">
      <img src="/assets/img/audio-ghid-cover.jpg" />
    </div>
  </div>
  <div class="next-story-audio-ghid">
    <div class="next-story-description">
      <a href="/en/project">
        <p>
          More details about the project here
        </p>
      </a>
    </div>
  </div>
  
  <div class="audio-video-episod-overview">
    The audio guide includes the following episodes:
  </div>

  <div class="audio-video-episod">
    <a href="/en/biserica-domneasca">
      <p>
        The Royal Church of St. Nicholas
      </p>
    </a>

    <a href="/en/san-nicoara">
      <p>
       The Ruins of Sân Nicoară Church
      </p>
    </a>

    <a href="/en/manastirea-curtea-de-arges">
      <p>
        The Church of the Curtea de Argeș Monastery
      </p>
    </a>

    <a href="/en/olari">
      <p>
        The Church of the Assumption of Mary - Olari
      </p>
    </a>

    <a href="/en/gara-regala">
      <p>
        The Royal Railway Station
      </p>
    </a>

    <a href="/en/casa-norocea">
      <p>
        The Norocea House
      </p>
    </a>

  </div>

</div>
<i> {{page.footer-note}} </i>
