---
layout: en-default-audio-guide
---

<div class="audio-video-container">
  <div class="audio-image">
    <a href="/en/casa-norocea">
      <img src="/assets/img/prev-button.svg" />
    </a>
      <img src="/assets/img/casti-audio-ghid.svg" />
    <a href="/en/biserica-domneasca">
      <img src="/assets/img/next-button.svg" />
    </a>
  </div>
  <h1 class="title-audio-ghid">{{ page.title1 }}</h1>
  <h1 class="title-audio-ghid">{{ page.title2 }}</h1>
  <div class="audio-video-wrapper">
    <div class="prev-button">
      <a href="/en/casa-norocea">
        <img src="/assets/img/prev-button.svg" />
      </a>
      <div class="prev-button-description">
        <p> Previous episode </p>
        <a href="/en/casa-norocea">
          <p> Norocea House </p>
        </a>
      </div>
    </div>


  <div class="media-player">
    <div class="progress-container">
      <span class="current-time" id="current-time">0:00</span>
      <input
        type="range"
        min="0"
        max="100"
        value="0"
        class="progress-bar"
        id="progress-bar"
      />
      <span class="total-time" id="total-time">0:00</span>
    </div>
    <div class="play-button-container">
      <div class="play-button" id="play-button">
        <span id="play-icon">
          <img src="/assets/img/play-button.png"> </img>
        </span>
        <span id="pause-icon" style="display: none">
          <img src="/assets/img/pause-button.png"> </img>
        </span>
      </div>
    </div>
    <audio id="audio" src="/assets/audio/Generic_Extins_Odette_EN_compressed.mp3"></audio>
  </div>

    <script src="/assets/js/script.js"></script>

    <div class="next-button">
      <div class="next-button-description">
        <p> Next episode </p>
        <a href="/en/biserica-domneasca">
          <p> Royal Church </p>
        </a>
      </div>
      <a href="/en/biserica-domneasca">
        <img src="/assets/img/next-button.svg" />
      </a>
    </div>

    </div>
    <div class="audio-video-description-wrapper">
      <div class="audio-video-description-header">
        <p>
          EPISODE CREDITS:
        </p>
        </div>
      <div class="audio-video-description-content">
        <p>
          The audio guide in English was made during the Voice Your Place: Curtea de Arges 2024 Workshops by teenagers from the local community with the support of the invited coordinators.
        <p>
          Special thanks to the participants, collaborators, volunteers, friends, partners, sponsors and everyone who contributed to its making!
        </p>
      </div>
    </div>
  </div>
  <div class="photo-buttons">
    <div class="image-wrapper">
      <img src="/assets/img/audio-ghid-cover.jpg" />
    </div>
  </div>
  <div class="next-story-audio-ghid">
    <div class="next-story-description">
      <a href="/en/project">
        <p>
          More details about the project here
        </p>
      </a>
    </div>
  </div>
  
  <div class="audio-video-episod-overview">
    The audio guide includes the following episodes:
  </div>

  <div class="audio-video-episod">
    <a href="/en/biserica-domneasca">
      <p>
        The Royal Church of St. Nicholas
      </p>
    </a>

    <a href="/en/san-nicoara">
      <p>
       The Ruins of Sân Nicoară Church
      </p>
    </a>

    <a href="/en/manastirea-curtea-de-arges">
      <p>
        The Church of the Curtea de Argeș Monastery
      </p>
    </a>

    <a href="/en/olari">
      <p>
        The Church of the Assumption of Mary - Olari
      </p>
    </a>

    <a href="/en/gara-regala">
      <p>
        The Royal Railway Station
      </p>
    </a>

    <a href="/en/casa-norocea">
      <p>
        The Norocea House
      </p>
    </a>

  </div>

</div>
<i> {{page.footer-note}} </i>
