---
layout: en-default-audio-guide
title: Biserica Sfântul Nicolae Domnesc
---

<div class="audio-video-container">
  <div class="audio-image">
    <a href="/en/audio-guide">
      <img src="/assets/img/prev-button.svg" />
    </a>
    <img src="/assets/img/casti-audio-ghid.svg" />
    <a href="/en/san-nicoara">
      <img src="/assets/img/next-button.svg" />
    </a>
  </div>
  <h1 class="title-audio-ghid">{{ page.title }}</h1>
  <div class="audio-video-wrapper">
    <div class="prev-button">
      <a href="/en/audio-guide">
        <img src="/assets/img/prev-button.svg" />
      </a>
      <div class="prev-button-description">
        <p> Previous episode </p>
        <a href="/en/audio-guide">
          <p> About audio guide </p>
        </a>
      </div>
    </div>
    <iframe scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1890254952&color=%23422852&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
    <div class="next-button">
      <div class="next-button-description">
        <p> Next episode </p>
        <a href="/en/san-nicoara">
          <p> Sân Nicoară Church </p>
        </a>
      </div>
      <a href="/en/san-nicoara">
        <img src="/assets/img/next-button.svg" />
      </a>
    </div>
  </div>  
    <div class="audio-video-description-wrapper">
      <div class="audio-video-description-header">
        <p>
          EPISODE CREDITS:
        </p>
        </div>
      <div class="audio-video-description-content">
        <p>
          Text narrated by: Maria Simion și Andra Șerban
        </p>
        <p>
          Intro: Radu Răducanu
        </p>
        <p>
          Stories: Eduard Băiașu și Nectaria Craus
        </p>
        <p>
          Editing and mixing: Maria Salomia
        </p>
      </div>
    </div>
    <div class="audio-video-description-wrapper">
      <div class="audio-video-description-header">
        <p>
          ABOUT THE BUILDING:
        </p>
      </div>
      <div class="audio-video-description-content">
        <p>
          14th century church, part of the royal court, built by Basarab I - the founder of Wallachia. Of Byzantine style, with an inscribed Greek cross plan, restored in 1911 and restored to its original form.
        </p>
      </div>
    </div>
  </div>
  <div class="photo-buttons">
    <div class="image-wrapper">
      <img src="/assets/img/biserica-domneasca.jpg" />
    </div>
  </div>
  <div class="next-story">
    <div class="next-story-description">
      <p>
        Visit next on the route:
      </p>
      <p>
        <a href="/en/san-nicoara">
          The Ruins of Sân Nicoară Church
        </a>
      </p>
    </div>
      <img src="/assets/img/tooltip.png" alt="Tooltip"/>
  </div>
  <div class="audio-video-locuri-povesti">
    <h1 class="title-audio-ghid">Places and Stories</h1>
    <p>
      At the creative writing workshop of the Voice Your Place: Curtea de Argeș Summer School, the participants wrote a series of short stories in relation to the heritage buildings. For someone who has grown up with them nearby, these places can mean many other things: home, family, friendship, childhood, adolescence, and school. The stories are integrated into the audio guide in the form of fragments that aim to bring the listener closer to the life of the local community.
    </p>
  </div>
  <div class="audio-video-poveste">
    <p>
      Parents
    </p>

    <p>
      by Nectaria Craus
    </p>

    <p>
      The town of Curtea de Argeș is so old and yet so new to me. My family moved here from somewhere else. I discovered the place growing up and it feels like it is waiting for new people.
    </p>

    <p>
      I am pensive by nature, and I stress easily. Sometimes, even I don't understand myself and then I try to give my mind some space and go on a bike ride. While I`m pedaling, I like to watch passers-by and analyze their facial expressions. I wonder what do they think of our little town, where you always meet someone you know: a teacher, a classmate, the girls on the block trying to sell bracelets. But what about the monuments? Do the locals still appreciate them, or do they no longer even notice them?
    </p>

    <p>
      As I ride, I get flashbacks of moments I’ve lived in this town: Curtea de Argeș Monastery is where I took my friend Connie from America, on a sightseeing tour. That's when I first realized that I`m proud of where I live. The Royal Church of St Nicholas is where I had one of my most meaningful conversations with a dear friend, discussing famous quotes by Oscar Wilde and sharing our dreams. I would like for the avenue going from St. Nicholas’ Church to the Monastery to become pedestrian one day a week (on Sundays) with perhaps one or two carriages giving rides.
    </p>

    <p>
      The old buildings watch over us and sometimes I feel like they know all our secrets, even the embarrassing ones.
    </p>

  </div>

  <div class="related-story-title">
    Other stories from {{ page.title }}:
  </div>

  <div class="related-story">
    {% for post in site.data.settings.en-community-stories %}
      {% if post.location == "BisericaDomneasca" %} 
        <a href="{{ post.url }}">
          <p>
            {{ post.title }} by {{ post.author }}
          </p>
        </a>
      {% endif %}
    {% endfor %}
    </br>
    </br>
    </br>
    </br>
  </div>

</div>
<i> {{page.footer-note}} </i>
