---
layout: en-default-audio-guide
---

<div class="audio-video-container">
  <div class="audio-image">
    <a href="/en/gara-regala">
      <img src="/assets/img/prev-button.svg" />
    </a>
    <img src="/assets/img/casti-audio-ghid.svg" />
    <a href="/en/audio-guide">
      <img src="/assets/img/next-button.svg" />
    </a>
  </div>
  <h1 class="title-audio-ghid">{{ page.title }}</h1>
  <div class="audio-video-wrapper">
    <div class="prev-button">
      <a href="/en/gara-regala">
        <img src="/assets/img/prev-button.svg" />
      </a>
      <div class="prev-button-description">
        <p> Previous episode </p>
        <a href="/en/gara-regala">
          <p> The Royal Railway Station  </p>
        </a>
      </div>
    </div>
    <iframe scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1890267828&color=%23422852&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
    <div class="next-button">
      <div class="next-button-description">
        <p> Next episode </p>
        <a href="/en/audio-guide">
          <p> About audio guide </p>
        </a>
      </div>
      <a href="/en/audio-guide">
        <img src="/assets/img/next-button.svg" />
      </a>
    </div>
  </div>
    <div class="audio-video-description-wrapper">
      <div class="audio-video-description-header">
        <p>
          EPISODE CREDITS:
        </p>
        </div>
      <div class="audio-video-description-content">
        <p>
          Text narrated by: Izabela Stoica și Eliza Rada
        </p>
        <p>
          Intro: Radu Răducanu
        </p>
        <p>
          Stories: Alexia Jianu și Eliza Rada
        </p>
        <p>
          Editing and mixing: Maria Salomia
        </p>
      </div>
    </div>
    <div class="audio-video-description-wrapper">
      <div class="audio-video-description-header">
        <p>
          ABOUT THE BUILDING:
        </p>
      </div>
      <div class="audio-video-description-content">
        <p>
          The house of the painter Dumitru Norocea, one of the most important painting restorers. With the help of architect Grigore Cerchez, he built his house in 1924 in a neo-romanian style. Today the Museum of Ethnography, it also displays an exhibition of paintings by the renowned restorer.
        </p>
      </div>
    </div>
  </div>
  <div class="photo-buttons">
    <div class="image-wrapper">
      <!-- <img src="/assets/img/san-nicoara.svg" /> -->
    </div>
  </div>
  <div class="next-story">
    <div class="next-story-description">
      <p>
        Visit next on the route:
      </p>
      <p>
        <a href="/en/biserica-domneasca">
          The Royal Church of St. Nicholas
        </a>
      </p>
    </div>
      <img src="/assets/img/tooltip.png" alt="Tooltip"/>
  </div>
  <div class="audio-video-locuri-povesti">
    <h1 class="title-audio-ghid">Places and Stories</h1>
    <p>
      At the creative writing workshop of the Voice Your Place: Curtea de Argeș Summer School, the participants wrote a series of short stories in relation to the heritage buildings. For someone who has grown up with them nearby, these places can mean many other things: home, family, friendship, childhood, adolescence, and school. The stories are integrated into the audio guide in the form of fragments that aim to bring the listener closer to the life of the local community.
    </p>
  </div>
  <div class="audio-video-poveste">
    <p>
      Do Not Touch the Exhibits
    </p>

    <p>
      by Eliza Rada
    </p>

    <p>
      You know how they say that before you die your whole life flashes before your eyes and time stops? Well, when my time came, all I could think of was how I had ended up in that situation.
    </p>

    <p>
      It was an ordinary day, and my friends and I were debating which place to explore next. We had developed a fun habit. Every Friday night, around midnight, we would go out and explore historical buildings, just the five of us. It had started six months previous, and it had been Ștefan's idea. Although it wasn't perfectly legal, we had never vandalised anything.
    </p>

    <p>
      Since the town we live in is a historical one, we decided to make a list of all the sights and draw lots to see which would be next. This time, Victoria drew the Norocea House that used to belong to one of our most talented painters. I got excited as I was passionate about drawing. 
    </p>
    
    <p>
      As usual, we met around twelve. Everyone had a flashlight, and we were dressed in loose, black clothes. Victoria and Otilia were in charge of the locks, Ștefan and Andra of the cameras, and I of the security system.
    </p>

    <p>
      We went in. Since Andrei likes history, he started telling us about the history of the place, but I was too enthralled by the art in the house. I moved closer to the painting of a woman. All the paintings were beautiful, but this one was different. The woman had sea-blue eyes and curly ebony-black hair. Her white skin conveyed refinement. 
    </p>

    <p>
      The big mistake was daring to touch. The second my hand came in contact with the painting, I became stuck, bound to this house forever, as my body fell cold to the floor. 
    </p>

    <p>
      With my death, chaos ensued: books were flying, the piano keys made dissonant noises, the doors were opening and closing by themselves, a window shattered. My friends panicked and ran away. Only I understood that the rest of the souls were not trying to hurt them, but to frighten them, so that they wouldn't remain prisoners in the house too. 
    </p>

    <p>
      The painter's great love is the one who collects souls to share in her suffering. She acts through the paintings. Paintings that her husband cared about more than anything, even more than about her.
    </p>

  </div>

  <div class="related-story-title">
    Other stories from {{ page.title }}:
  </div>

  <div class="related-story">
    {% for post in site.data.settings.en-community-stories %}
      {% if post.location == "CasaNorocea" %} 
        <a href="{{ post.url }}">
          <p>
            {{ post.title }} by {{ post.author }}
          </p>
        </a>
      {% endif %}
    {% endfor %}
    </br>
    </br>
    </br>
    </br>
  </div>

</div>
<i> {{page.footer-note}} </i>
