<!doctype html>
<html>
  {% include head-home.html %}
  <body>
    <div class="container-home">
      {% include en-header-home.html %}
      <div class="content-wrapper-project">
        <div class="contact-form-wrapper">
          <form
            name="simple-contact-form"
            action="https://formspree.io/f/xrgwvbgp"
            method="post"
          >
            <label for="name">Name:</label>
            <input type="text" id="full-name" name="name" required />

            <label for="email">Mail:</label>
            <input type="email" id="email-address" name="_replyto" required />

            <label for="message">Messsage:</label>
            <textarea id="message" name="message" rows="10" required></textarea>
            <input
              type="hidden"
              name="_subject"
              id="email-subject"
              value="Contact Form Submission"
            />

            <!-- Anti-bot challenge -->
            <label for="challenge"
              >To submit the form, solve the following math problem:</label
            >
            <div>
              <span id="number1"></span> + <span id="number2"></span> =
              <input type="text" id="challenge" name="challenge" required />
            </div>

            <button type="submit">Submit</button>
          </form>
          <script>
            document.addEventListener("DOMContentLoaded", function () {
              // Generate random numbers for the challenge
              var number1 = Math.floor(Math.random() * 10);
              var number2 = Math.floor(Math.random() * 10);

              // Display the random numbers
              document.getElementById("number1").textContent = number1;
              document.getElementById("number2").textContent = number2;

              document.forms["simple-contact-form"].addEventListener(
                "submit",
                function (event) {
                  var challengeInput = this.querySelector("#challenge");

                  // Check if the user's answer is correct
                  if (parseInt(challengeInput.value) === number1 + number2) {
                    // Proceed with form submission
                    return true;
                  } else {
                    // Reject the form submission
                    alert(
                      "Incorrect answer. Please solve the math problem to submit the form.",
                    );
                    event.preventDefault();
                  }
                },
              );
            });
          </script>
        </div>
      </div>
      {% include en-contact-footer.html %}
    </div>
  </body>
</html>
