---
layout: en-default-audio-guide
---

<div class="audio-video-container">
  <div class="audio-image">
    <a href="/en/olari">
      <img src="/assets/img/prev-button.svg" />
    </a>
    <img src="/assets/img/casti-audio-ghid.svg" />
    <a href="/en/casa-norocea">
      <img src="/assets/img/next-button.svg" />
    </a>
  </div>
  <h1 class="title-audio-ghid">{{ page.title }}</h1>
  <div class="audio-video-wrapper">
    <div class="prev-button">
      <a href="/en/olari">
        <img src="/assets/img/prev-button.svg" />
      </a>
      <div class="prev-button-description">
        <p> Previous episode </p>
        <a href="/en/olari">
          <p> Olari Church </p>
        </a>
      </div>
    </div>

  <div class="media-player">
    <div class="progress-container">
      <span class="current-time" id="current-time">0:00</span>
      <input
        type="range"
        min="0"
        max="100"
        value="0"
        class="progress-bar"
        id="progress-bar"
      />
      <span class="total-time" id="total-time">0:00</span>
    </div>
    <div class="play-button-container">
      <div class="play-button" id="play-button">
        <span class="play-icon">
          <img src="/assets/img/play-button.png"> </img>
        </span>
        <span id="pause-icon" style="display: none">
          <img src="/assets/img/pause-button.png"> </img>
        </span>
      </div>
    </div>
    <audio id="audio" src="/assets/audio/VYP_Ep2_Gara_EN_compressed.mp3"></audio>
  </div>

    <script src="/assets/js/script.js"></script>

    <div class="next-button">
      <div class="next-button-description">
        <p> Next episode </p>
        <a href="/en/casa-norocea">
          <p> Norocea House </p>
        </a>
      </div>
      <a href="/en/casa-norocea">
        <img src="/assets/img/next-button.svg" />
      </a>
    </div>
  </div>
    <div class="audio-video-description-wrapper">
      <div class="audio-video-description-header">
        <p>
          EPISODE CREDITS:
        </p>
        </div>
      <div class="audio-video-description-content">
        <p>
          Text narrated by: Cristian Sechea, Raluca Ciolcă and Giulia Iorga
        </p>
        <p>
          Intro: Giulia Iorga
        </p>
        <p>
          Stories: Ruxandra Radu and Andra Șerban
        </p>
        <p>
          Editing and mixing: Maria Salomia
        </p>
      </div>
    </div>
    <div class="audio-video-description-wrapper">
      <div class="audio-video-description-header">
        <p>
          ABOUT THE BUILDING:
        </p>
      </div>
      <div class="audio-video-description-content">
        <p>
          The Pitești - Curtea de Argeș railway line has along its route typical stations representative of the CFR style. However, the end of the line, the Royal Railway Station, has a special architecture. Inaugurated in 1898, the station is built in an original neo-romanian style.
        </p>
      </div>
    </div>
  </div>
  <div class="photo-buttons">
  <div class="image-wrapper">
    <img src="/assets/img/gara-regala.jpg" />
  </div>
  </div>
  <div class="next-story">
    <div class="next-story-description">
      <p>
        Visit next on the route:
      </p>
      <p>
        <a href="/en/casa-norocea">
          The Norocea House
        </a>
      </p>
    </div>
    <img src="/assets/img/tooltip.png" alt="Tooltip"/>
  </div>
  <div class="audio-video-locuri-povesti">
    <h1 class="title-audio-ghid">Places and Stories</h1>
    <p>
      At the creative writing workshop of the Voice Your Place: Curtea de Argeș Summer School, the participants wrote a series of short stories in relation to the heritage buildings. For someone who has grown up with them nearby, these places can mean many other things: home, family, friendship, childhood, adolescence, and school. The stories are integrated into the audio guide in the form of fragments that aim to bring the listener closer to the life of the local community.
    </p>
  </div>
  <div class="audio-video-poveste">
    <p>
      A new beginning
    </p>

    <p>
      by Andra Șerban
    </p>

    <p>
      It was Saturday morning, 8 o'clock. At this hour, I usually slept or felt like throwing my phone out of the window because the alarm was ringing, but this night had been different. I had spent it thinking about the boy I used to talk to, who was always by my side and then suddenly disappeared.
    </p>

    <p>
      Suddenly, I found myself alone on the bench in front of the train station, wondering what I had done wrong. I had pushed all my friends away to spend time with him, but he chose to leave without any explanation. With each passing train, my heart beat faster, thinking he was back to see me. This is where we used to spend our evenings.
    </p>

    <p>
      As I sat on the bench in front of the station, surrounded by people and luggage, I felt a touch on my shoulder. I looked back. But it was just the conductor asking if I was okay.
    </p>

    <p>
      I decided to leave, get on the first train and free myself. Before I left, I glanced towards the platform and saw two silhouettes. I recognized the one for whom I had cried and for whom I wanted to give up my town and friends, and who was now holding another girl in his arms.
    </p>

    <p>
      All my questions were answered. This was the end, but also the beginning.
    </p>

  </div>

  <div class="related-story-title">
    Other stories from {{ page.title }}:
  </div>

  <div class="related-story">
    {% for post in site.data.settings.en-community-stories %}
      {% if post.location == "GaraRegala" %} 
        <a href="{{ post.url }}">
          <p>
            {{ post.title }} by {{ post.author }}
          </p>
        </a>
      {% endif %}
    {% endfor %}
    </a>
    </br>
    </br>
    </br>
  </div>

</div>
<i> {{page.footer-note}} </i>
