---
layout: en-default-audio-guide
---

<div class="audio-video-container">
  <div class="audio-image">
    <a href="/en/san-nicoara">
      <img src="/assets/img/prev-button.svg" alt="Poveste anteriora"/>
    </a>
    <img src="/assets/img/casti-audio-ghid.svg" alt="Audio Ghid"/>
    <a href="/en/olari">
      <img src="/assets/img/next-button.svg" alt="Urmatoarea poveste"/>
    </a>
  </div>
  <h1 class="title-audio-ghid">{{ page.title }}</h1>
  <div class="audio-video-wrapper">
    <div class="prev-button">
      <a href="/en/san-nicoara">
        <img src="/assets/img/prev-button.svg" alt="Poveste anteriora"/>
      </a>
      <div class="prev-button-description">
        <p> Previous episode </p>
        <a href="/en/san-nicoara">
          <p> Sân Nicoară Ruins </p>
        </a>
      </div>
    </div>

  <div class="media-player">
    <div class="progress-container">
      <span class="current-time" id="current-time">0:00</span>
      <input
        type="range"
        min="0"
        max="100"
        value="0"
        class="progress-bar"
        id="progress-bar"
      />
      <span class="total-time" id="total-time">0:00</span>
    </div>
    <div class="play-button-container">
      <div class="play-button" id="play-button">
        <span class="play-icon">
          <img src="/assets/img/play-button.png"> </img>
        </span>
        <span id="pause-icon" style="display: none">
          <img src="/assets/img/pause-button.png"> </img>
        </span>
      </div>
    </div>
    <audio id="audio" src="/assets/audio/VYP_Ep3_Manastirea_EN_compressed.mp3"></audio>
  </div>

    <script src="/assets/js/script.js"></script>

    <div class="next-button">
      <div class="next-button-description">
        <p> Next episode </p>
        <a href="/en/olari">
          <p> Olari Church </p>
        </a>
      </div>
      <a href="/en/olari">
        <img src="/assets/img/next-button.svg" alt="Urmatoarea poveste"/>
      </a>
    </div>
  </div>
    <div class="audio-video-description-wrapper">
      <div class="audio-video-description-header">
        <p>
          EPISODE CREDITS:
        </p>
        </div>
      <div class="audio-video-description-content">
        <p>
          Text narrated by: Odette Andrei, Eliza Petec, Georgiana Stan and Cristian Sechea
        </p>
        <p>
          Intro: Giulia Iorga
        </p>
        <p>
          Stories: Maria Duca and Mădălina Niță
        </p>
        <p>
          Editing and mixing: Maria Salomia
        </p>
      </div>
    </div>
    <div class="audio-video-description-wrapper">
      <div class="audio-video-description-header">
        <p>
          ABOUT THE BUILDING:
        </p>
      </div>
      <div class="audio-video-description-content">
        <p>
          16th century church, the subject of legends and source of inspiration for churches in Wallachia. Founded by Neagoe Basarab, the church is the only surviving element of the former monastery. Architecturally innovative, with Ottoman and Armenian influences.
        </p>
      </div>
    </div>
  </div>
  <div class="photo-buttons">
    <div class="image-wrapper">
      <img src="/assets/img/manastirea-curtea-de-arges.jpg" alt="Ruinele San Nicoara"/>
    </div>
  </div>
  <div class="next-story">
    <div class="next-story-description">
      <p>
        Visit next on the route:
      </p>
      <p>
        <a href="/en/olari">
          The Olari Church
        </a>
      </p>
    </div>
      <img src="/assets/img/tooltip.png" alt="Tooltip"/>
  </div>
  <div class="audio-video-locuri-povesti">
    <h1 class="title-audio-ghid">Places and Stories</h1>
    <p>
      At the creative writing workshop of the Voice Your Place: Curtea de Argeș Summer School, the participants wrote a series of short stories in relation to the heritage buildings. For someone who has grown up with them nearby, these places can mean many other things: home, family, friendship, childhood, adolescence, and school. The stories are integrated into the audio guide in the form of fragments that aim to bring the listener closer to the life of the local community.
    </p>
  </div>
  <div class="audio-video-poveste">
    <p>
      With Longing, to the Doll that Broke
    </p>

    <p>
      by Mădălina Niță
    </p>

    <p>
      I'm too sad to realize who I really am. I find myself in the stories of my friends who are already grown up. I find myself in their losses. Or maybe it just seems that way. Parents do what parents do. They try to cheer me up.
    </p>

    <p>
      But I stay with my attempt. Places are the ones that keep us anchored in pain. And now I must lose it. I measure my steps as I head for the exit. The park seems endless. But hope lies hidden. It follows me. Now it creeps in the sound of water that never stopped flowing. The red mug is the spot of color in this whole black-and-white universe. In fact, it is everything that unites us as people - drinking that water from Manole's Fountain. I climb the steps and say goodbye to the park. I cross the street and see the monastery wall. The path stretches before me, shaded by fir trees. Maybe I could have needed the quiet, but the cobblestone path repeats its jerky song with every step I take. Mom approaches me and does what she usually does when we're here. We sit down on a bench and she begins to tell me the legend of the building of the Monastery. Although I know the story, it alone anchors me to everything I experienced as a child.
    </p>

    <p>
      The wind sneaks through all the indentations of the fleurons surrounding the church until only a breeze remains beneath the priests' vestments. I whisper "Thank you", as I did once before when a bracelet with a carefully carved wooden cross slipped through my fingers.
    </p>
 
    <p>
      Now I've lost it. But it was mine. It still is.
    </p>

    <p>
      With longing, from the bench to the right of the monastery, to the doll that broke, that was mine and still is. I lit a candle for you there, but to the Dead now. And we never heard the bell ring together.
    </p>

  </div>

  <div class="related-story-title">
    Other stories from {{ page.title }}:
  </div>

  <div class="related-story">
    {% for post in site.data.settings.en-community-stories %}
      {% if post.location == "ManastireaCurteaDeArges" %} 
        <a href="{{ post.url }}">
          <p>
            {{ post.title }} by {{ post.author }}
          </p>
        </a>
      {% endif %}
    {% endfor %}
    </br>
    </br>
    </br>
    </br>
  </div>


</div>
<i> {{page.footer-note}} </i>
