---
layout: en-default-audio-guide
---

<div class="audio-video-container">
  <div class="audio-image">
    <a href="/en/biserica-domneasca">
      <img src="/assets/img/prev-button.svg" />
    </a>
    <img src="/assets/img/casti-audio-ghid.svg" />
    <a href="/en/manastirea-curtea-de-arges">
      <img src="/assets/img/next-button.svg" />
    </a>
  </div>
  <h1 class="title-audio-ghid">{{ page.title }}</h1>
  <div class="audio-video-wrapper">
    <div class="prev-button">
      <a href="/en/biserica-domneasca">
        <img src="/assets/img/prev-button.svg" />
      </a>
      <div class="prev-button-description">
        <p> Previous episode </p>
        <a href="/en/biserica-domneasca">
          <p> St. Nicholas Church </p>
        </a>
      </div>
    </div>
    <iframe scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1890261696&color=%23422852&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
    <div class="next-button">
      <div class="next-button-description">
        <p> Next episode </p>
        <a href="/en/manastirea-curtea-de-arges">
          <p> Curtea de Argeș Monastery </p>
        </a>
      </div>
      <a href="/en/manastirea-curtea-de-arges">
        <img src="/assets/img/next-button.svg" />
      </a>
    </div>

  </div>
    <div class="audio-video-description-wrapper">
      <div class="audio-video-description-header">
        <p>
          EPISODE CREDITS:
        </p>
        </div>
      <div class="audio-video-description-content">
        <p>
          Text narrated by: Radu Răducanu și Izabela Stoica
        </p>
        <p>
          Intro: Andra Șerban
        </p>
        <p>
          Stories: Ionuț Păduraru, Izabela Stoica și Radu Răducanu
        </p>
        <p>
          Editing and mixing: Maria Salomia
        </p>
      </div>
    </div>
    <div class="audio-video-description-wrapper">
      <div class="audio-video-description-header">
        <p>
          ABOUT THE BUILDING:
        </p>
      </div>
      <div class="audio-video-description-content">
        <p>
          14th century church now in ruins. It is thought to have been built around the same time as the church of St. Nicholas Domnesc. Of Orthodox rite with an atypical element, the entrance tower.
        </p>
      </div>
    </div>
  </div>
  <div class="photo-buttons">
    <div class="image-wrapper">
      <img src="/assets/img/san-nicoara.svg" />
    </div>
  </div>
  <div class="next-story">
    <div class="next-story-description">
      <p>
        Visit next on the route:
      </p>
      <p>
        <a href="/en/manastirea-curtea-de-arges">
        The Church of the Curtea de Argeș Monastery
        </a>
      </p>
    </div>
      <img src="/assets/img/tooltip.png" alt="Tooltip"/>
  </div>
  <div class="audio-video-locuri-povesti">
    <h1 class="title-audio-ghid">Places and Stories</h1>
    <p>
      At the creative writing workshop of the Voice Your Place: Curtea de Argeș Summer School, the participants wrote a series of short stories in relation to the heritage buildings. For someone who has grown up with them nearby, these places can mean many other things: home, family, friendship, childhood, adolescence, and school. The stories are integrated into the audio guide in the form of fragments that aim to bring the listener closer to the life of the local community.
    </p>
  </div>
  <div class="audio-video-poveste">
    <p>
      Last Time Forever
    </p>

    <p>
      by Izabela Stoica
   </p>

    <p>
      It's spring. It's quite cold for early March, but let’s blame it on being a "mountain area". After a stroll along the boulevard full of stalls with flowers and mărțișoare that make you wonder "If I can barely stand this cold, how can the salespeople?", you arrive near St Nicoară park.
    </p>

    <p>
      You want to go up to the ruins, but three girls catch your eye on one of the benches. They're laughing too loudly, but you can tell they don't care. They eat ICECREAM and you say to yourself, again, "Is it me?".
    </p>

    <p>
      It's summer. It's been a few months and now the weather is perfect for a walk so you can enjoy the smell of the linden trees. This time nothing distracts you, you climb straight up to St. Nicoară. When you reach the ruins, three familiar laughs disturb the silence of the place. They seem to belong here, they're always here. Curiosity urges you to take a look inside the ruins, but you don't want to interrupt them, so you move on.
    </p>
    
    <p>
      It's autumn. You know what they say, third time's the charm. You hope that this time you’ll visit the entire ruin. And you do. When you come down, you notice them. Of course they're still there. They are taking photos among the leaves, to be in tune with everyone else on Insta.
    </p>

    <p>
      It's winter. You don't need an introduction, you know they're there even without checking. They’re exchanging Christmas presents on the same bench.
    </p>

    <p>
      You let more time pass. It's autumn again. But there's a change. There are only two girls now. You wonder what happened to the third.
    </p>

    <br>

    <p>
      You know we miss her, but we'll see her again in the summer. And if you come back in a year, the bench will be empty. In ten, we'll come back as "tourists with memories" and I'll want to go back in time, to sit on that bench with my two friends.
    </p>

  </div>

  <div class="related-story-title">
    Other stories from {{ page.title }}:
  </div>

  <div class="related-story">
    {% for post in site.data.settings.en-community-stories %}
      {% if post.location == "RuinaBisericaSanNicoara" %} 
        <a href="{{ post.url }}">
          <p>
            {{ post.title }} by {{ post.author }}
          </p>
        </a>
      {% endif %}
    {% endfor %}
    </br>
    </br>
    </br>
    </br>
  </div>

</div>
<i> {{page.footer-note}} </i>
