---
layout: default-audio-guide
---

<div class="audio-video-container">
  <div class="audio-image">
    <a href="/ro/olari">
      <img src="/assets/img/prev-button.svg" />
    </a>
    <img src="/assets/img/casti-audio-ghid.svg" />
    <a href="/ro/casa-norocea">
      <img src="/assets/img/next-button.svg" />
    </a>
  </div>
  <h1 class="title-audio-ghid">{{ page.title }}</h1>
  <div class="audio-video-wrapper">
    <div class="prev-button">
      <a href="/ro/olari">
        <img src="/assets/img/prev-button.svg" />
      </a>
      <div class="prev-button-description">
        <p> Episod anterior </p>
        <a href="/ro/olari">
          <p> Biserica Olari </p>
        </a>
      </div>
    </div>

  <div class="media-player">
    <div class="progress-container">
      <span class="current-time" id="current-time">0:00</span>
      <input
        type="range"
        min="0"
        max="100"
        value="0"
        class="progress-bar"
        id="progress-bar"
      />
      <span class="total-time" id="total-time">0:00</span>
    </div>
    <div class="play-button-container">
      <div class="play-button" id="play-button">
        <span id="play-icon">
          <img src="/assets/img/play-button.png"> </img>
        </span>
        <span id="pause-icon" style="display: none">
          <img src="/assets/img/pause-button.png"> </img>
        </span>
      </div>
    </div>
    <audio id="audio" src="/assets/audio/VYP_Ep2_Gara_RO_compressed.mp3"></audio>
  </div>

    <script src="/assets/js/script.js"></script>

    <div class="next-button">
      <div class="next-button-description">
        <p> Următorul episod: </p>
        <a href="/ro/casa-norocea">
          <p> Casa Norocea </p>
        </a>
      </div>
      <a href="/ro/casa-norocea">
        <img src="/assets/img/next-button.svg" />
      </a>
    </div>
  </div>
    <div class="audio-video-description-wrapper">
      <div class="audio-video-description-header">
        <p>
          DESPRE EPISOD:
        </p>
        </div>
      <div class="audio-video-description-content">
        <p>
          Text narat de: Ionuț Păduraru și Mădălina Niță
        </p>
        <p>
          Prezentare: Radu Răducanu
        </p>
        <p>
          Povestiri: Ruxandra Radu și Andra Șerban
        </p>
        <p>
          Editare și mixaj: Maria Salomia
        </p>
      </div>
    </div>
    <div class="audio-video-description-wrapper">
      <div class="audio-video-description-header">
        <p>
          DESPRE OBIECTIV:
        </p>
      </div>
      <div class="audio-video-description-content">
        <p>
          Linia Pitești - Curtea de Argeș, cuprinde pe traseu gări-tip reprezentative pentru stilul CFR. Din acestea însă, capătul de linie, Gara Regală prezintă o arhitectură aparte.   Inaugurată la 1898, gara este realizată într-un stil neoromânesc original. 
        </p>
      </div>
    </div>
  </div>
  <div class="photo-buttons">
  <div class="image-wrapper">
    <img src="/assets/img/gara-regala.jpg" />
  </div>
  </div>
  <div class="next-story">
    <div class="next-story-description">
      <p>
        Vizitați în continuare pe traseu:
      </p>
      <p>
        <a href="/ro/casa-norocea">
          Casa Norocea
        </a>
      </p>
    </div>
    <img src="/assets/img/tooltip.png" alt="Tooltip"/>
  </div>
  <div class="audio-video-locuri-povesti">
    <h1 class="title-audio-ghid">Locuri și povești</h1>
    <p>
      La atelierul de scriere creativă din cadrul Școlii de Vară Voice Your Place: Curtea de Argeș participanții au scris o serie de povești scurte în relație cu cele șase obiective de patrimoniu. Pentru cineva care le are aproape, locurile acestea pot însemna o mulțime de alte lucruri: acasă, familie, prietenie, copilărie, adolescență, școală. Poveștile sunt integrate în audio ghid sub forma unor fragmente care își propun să aducă mai aproape ascultătorul de viața comunității locale.
    </p>
  </div>
  <div class="audio-video-poveste">
    <p>
      Un nou început
    </p>

    <p>
      de Andra Șerban
    </p>

    <p>
      Era sâmbătă dimineața, ora 8. La această oră, de obicei dormeam sau îmi venea să îmi arunc telefonul pe geam pentru că suna alarma, însă noaptea aceea fusese diferită. Mi-o petrecusem gândindu-mă la băiatul cu care obișnuiam să vorbesc, care îmi era mereu alături și care, din senin, dispăruse.
    </p>

    <p>
      Dintr-o dată, m-am trezit singură pe banca din fața gării, gândindu-mă cu ce am greșit. Îmi îndepărtasem toți prietenii ca să petrec timp cu el, însă el a ales să plece fără explicații. Cu fiecare tren ce trecea, inima îmi bătea mai tare, gândindu-mă că s-a întors și vrea să mă vadă. Aici obișnuiam să ne petrecem serile.
    </p>

    <p>
      În timp ce stăteam pe banca din fața gării, înconjurată de oameni și bagaje, am simțit o atingere pe umăr. M-am uitat în spate. Dar era doar un controlor care mă întreba dacă sunt bine.
    </p>
    
    <p>
      Am decis să plec, să mă urc în primul tren și să mă eliberez. Înainte de plecare, am aruncat un ochi spre peron și am văzut două siluete. L-am recunoscut pe cel pentru care am plâns și pentru care voiam să renunț la orașul meu și la prieteni, și care ținea acum în brațe o altă fată.
    </p>

    <p>
      Am primit răspunsul la toate întrebările mele. Acesta era sfârșitul, dar în același timp începutul.
    </p>

  </div>

  <div class="related-story-title">
    Alte povești de la {{ page.title }}:
  </div>

  <div class="related-story">
    {% for post in site.data.settings.community-stories %}
      {% if post.location == "GaraRegala" %} 
        <a href="{{ post.url }}">
          <p>
            {{ post.title }} de {{ post.author }}
          </p>
        </a>
      {% endif %}
    {% endfor %}
    </br>
    </br>
    </br>
    </br>
  </div>

</div>
<i> {{page.footer-note}} </i>
