<!doctype html>
<html>
  {% include head-home.html %}
  <body>
    <div class="container-home">
      {% include header-home.html %}
        <div class="split-container">
          <div class="content-wrapper-home-page">
              {{ content }}
              <a href="{{ site.github.url }}/audio-ghid">
                <img src="{{ site.github.url }}/assets/img/home-page-play-icon.svg"/>
                </br>
                Începe ascultarea
              </a>
              <div class="social-media-wrapper-home-page">
                {% for item in site.data.settings.social %}
                  <a href="{{ item.link }}" target="_blank">
                  <img src="{{ site.github.url }}/assets/img/{{ item.image }}" /></a>
                {% endfor %}  
              </div> 
            </div>
    
          <div class="content-home-page-image">
            <div class="mySlides fade">
              <img src="{{ site.github.url }}/assets/img/home-page.webp" />
            </div>

            <div class="mySlides fade">
              <img src="{{ site.github.url }}/assets/img/slideshow-01.jpg" />
            </div>

            <div class="mySlides fade">
              <img src="{{ site.github.url }}/assets/img/slideshow-02.jpg" />
            </div>

            <div class="mySlides fade">
              <img src="{{ site.github.url }}/assets/img/slideshow-03.jpg" />
            </div>

            <div class="mySlides fade">
              <img src="{{ site.github.url }}/assets/img/slideshow-04.jpg" />
            </div>

            <div class="mySlides fade">
              <img src="{{ site.github.url }}/assets/img/slideshow-05.jpg" />
            </div>

            <div class="mySlides fade">
              <img src="{{ site.github.url }}/assets/img/slideshow-06.jpg" />
            </div>

             <div class="mySlides fade">
              <img src="{{ site.github.url }}/assets/img/slideshow-07.jpg" />
            </div>

            <div class="mySlides fade">
              <img src="{{ site.github.url }}/assets/img/slideshow-08.jpg" />
            </div>

            <div class="mySlides fade">
              <img src="{{ site.github.url }}/assets/img/slideshow-09.jpg" />
            </div>

            <div class="mySlides fade">
              <img src="{{ site.github.url }}/assets/img/slideshow-10.jpg" />
            </div>

            <div class="mySlides fade">
              <img src="{{ site.github.url }}/assets/img/slideshow-11.jpg" />
            </div>

            <div class="mySlides fade">
              <img src="{{ site.github.url }}/assets/img/slideshow-13.jpg" />
            </div>

            <div class="mySlides fade">
              <img src="{{ site.github.url }}/assets/img/slideshow-14.jpg" />
            </div>

            <div class="mySlides fade">
              <img src="{{ site.github.url }}/assets/img/slideshow-15.jpg" />
            </div>

            <div class="mySlides fade">
              <img src="{{ site.github.url }}/assets/img/slideshow-16.jpg" />
            </div>

            <div class="mySlides fade">
              <img src="{{ site.github.url }}/assets/img/slideshow-18.jpg" />
            </div>

            <div class="mySlides fade">
              <img src="{{ site.github.url }}/assets/img/slideshow-19.jpg" />
            </div>

            <div class="mySlides fade">
              <img src="{{ site.github.url }}/assets/img/slideshow-21.jpg" />
            </div>

            <div class="mySlides fade">
              <img src="{{ site.github.url }}/assets/img/slideshow-22.jpg" />
            </div>

            <div class="mySlides fade">
              <img src="{{ site.github.url }}/assets/img/slideshow-23.jpg" />
            </div>

            <div class="mySlides fade">
              <img src="{{ site.github.url }}/assets/img/slideshow-24.jpg" />
            </div>

            <div class="mySlides fade">
              <img src="{{ site.github.url }}/assets/img/slideshow-25.jpg" />
            </div>

            <div class="mySlides fade">
              <img src="{{ site.github.url }}/assets/img/slideshow-26.jpg" />
            </div>

            <div class="mySlides fade">
              <img src="{{ site.github.url }}/assets/img/slideshow-27.jpg" />
            </div>

            <div class="mySlides fade">
              <img src="{{ site.github.url }}/assets/img/slideshow-28.jpg" />
            </div>

            <div class="mySlides fade">
              <img src="{{ site.github.url }}/assets/img/slideshow-29.jpg" />
            </div>

            <div class="mySlides fade">
              <img src="{{ site.github.url }}/assets/img/slideshow-30.jpg" />
            </div>

            <div class="mySlides fade">
              <img src="{{ site.github.url }}/assets/img/slideshow-31.jpg" />
            </div>

            <div class="mySlides fade">
              <img src="{{ site.github.url }}/assets/img/slideshow-32.jpg" />
            </div>

            <div class="mySlides fade">
              <img src="{{ site.github.url }}/assets/img/slideshow-33.jpg" />
            </div>

            <div class="mySlides fade">
              <img src="{{ site.github.url }}/assets/img/slideshow-34.jpg" />
            </div>

            <div class="mySlides fade">
              <img src="{{ site.github.url }}/assets/img/slideshow-35.jpg" />
            </div>

            <div class="mySlides fade">
              <img src="{{ site.github.url }}/assets/img/slideshow-36.jpg" />
            </div>

            <div class="mySlides fade">
              <img src="{{ site.github.url }}/assets/img/slideshow-37.jpg" />
            </div>

            <div class="mySlides fade">
              <img src="{{ site.github.url }}/assets/img/slideshow-38.jpg" />
            </div>

          </div>  
        </div>
      {% include footer-home-page.html %}
    </div>
<script>
let slideIndex = 0;
showSlides();

function showSlides() {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  slides[slideIndex-1].style.display = "block";
  setTimeout(showSlides, 5000); // Change image every 5 seconds
}
</script>
  </body>
</html>
