---
layout: default-audio-ghid
---

<div class="audio-video-container">
  <div class="audio-image">
    <img src="/assets/img/prev-button.svg" />
    <img src="/assets/img/casti-audio-ghid.svg" />
    <img src="/assets/img/next-button.svg" />
  </div>
  <h1 class="title-audio-ghid">{{ page.title }}</h1>
  <div class="audio-video-wrapper">
    <iframe scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1661756694&color=%23ff5500&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/voice-your-place" title="Voice Your Place" target="_blank" style="color: #cccccc; text-decoration: none;">Voice Your Place</a> · <a href="https://soundcloud.com/voice-your-place/credite-voice-your-place-curtea-de-arges" title="Despre audio ghidul Voice Your Place: Curtea de Argeș" target="_blank" style="color: #cccccc; text-decoration: none;">Despre audio ghidul Voice Your Place: Curtea de Argeș</a></div>
    <div class="audio-video-description-wrapper">
      <div class="audio-video-description-header">
        <p>
          DESPRE EPISOD:
        </p>
        </div>
      <div class="audio-video-description-content">
        <p>
          Text narat de: Ana Maria Baltag-Diaconu, Alexia Jianu și Radu Răducanu
        </p>
        <p>
          Prezentare: Andra Șerban
        </p>
        <p>
          Povestiri: Maria Duca și Mădălina Niță
        </p>
        <p>
          Editare și mixaj: Maria Salomia
        </p>
      </div>
    </div>
    <div class="audio-video-description-wrapper">
      <div class="audio-video-description-header">
        <p>
          DESPRE OBIECTIV:
        </p>
      </div>
      <div class="audio-video-description-content">
        <p>
          Biserica de secol XVI, subiect de legendă și sursă de inspirație pentru bisericile din Țara Românească. Ctitoria lui Neagoe Basarab, biserica este singurul element ce supraviețuiește din fosta mănăstire. Inovativă arhitectural, cu influențe otomane și armenești.
        </p>
      </div>
    </div>
  </div>
  <div class="photo-buttons">
      <div class="prev-button">
        <a href="/san-nicoara">
          <img src="/assets/img/prev-button.svg" />
        </a>
        <div class="prev-button-description">
          <p> Episod anterior </p>
          <p> Ruina Sân Nicoară</p>  
        </div>
      </div>  
    <div class="image-wrapper">
      <img src="/assets/img/san-nicoara.svg" />
    </div>
    <div class="next-button">
      <div class="next-button-description">
        <p> Următorul episod: </p>
        <p> Biserica Olari </p>
      </div>
      <a href="olari">
        <img src="/assets/img/next-button.svg" />
      </a>
    </div>
  </div>
  <div class="next-story">
    <div class="next-story-description">
      <p>
        Vizitați în continuare pe traseu:
      </p>
      <p>
        <a href="/olari">
          Biserica Adormirea Maicii Domnului - Olari
        </a>
      </p>
    </div>
      <img src="/assets/img/tooltip.svg" />
  </div>
  <div class="audio-video-locuri-povesti">
    <h1 class="title-audio-ghid">Locuri și povești</h1>
    <p>
      La atelierul de scriere creativă din cadrul Școlii de Vară Voice Your Place Curtea de Argeș participanții au scris o serie de povești scurte în relație cu cele șase obiective de patrimoniu cu îndrumarea Cristinei Chira. Pentru cineva care le are aproape, locurile acestea pot însemna o mulțime de alte lucruri: acasă, familie, prietenie, copilărie, adolescență, școală (cu tot ce au ele bun și mai puțin bun).  Poveștile sunt integrate în audio ghid sub forma unor fragmente care își propun să aducă mai aproape ascultătorul de viața comunității locale.
    </p>
  </div>
  <div class="audio-video-poveste">
    <p> Cu dor, păpușii care s-a rupt <br>
      de Mădălina Niță
    </p>

    <p>
      Sunt prea tristă ca să-mi dau seama cine sunt cu adevărat. Mă regăsesc în tot ce-mi povesteau prietenii ajunși deja la vârsta maturității. Mă regăsesc în pierderile lor. Sau poate doar mi se pare. Părinții fac tot ce fac de obicei. Încearcă să mă înveselească.
    </p>

    <p>
      Rămân, însă, la încercarea mea. Locurile sunt cele care ne țin ancorați în durere. Și acum trebuie să-l pierd. Îmi măsor pașii în timp ce mă îndrept spre ieșire. Parcul pare fără sfârșit. Dar speranța stă ascunsă. Mă urmărește. Acum se strecoară în sunetul apei care nu a încetat niciodată să curgă. Cana roșie e pata de culoare din tot acest univers alb-negru. De fapt, e tot ceea ce ne unește ca oameni – faptul că bem acea apă din Fântâna lui Manole. Am urcat treptele și mi-am luat adio de la parc. Trec strada și văd zidul Mânăstirii. Aleea se întinde înaintea mea, umbrită de brazi. Poate aș fi avut nevoie de liniște, dar drumul pietruit își repetă cântecul sacadat cu fiecare pas al meu. Mama se apropie de mine și face ceea ce face când suntem de obicei aici. Ne așezăm pe o bancă și începe să-mi spună legenda construirii Mânăstirii. Deși știu povestea, numai ea mă mai ancorează în tot ce trăiam în copilărie.
    </p>

    <p>
      Vântul se strecoară prin toate adânciturile fleuronilor ce înconjoară biserica până când rămâne doar o adiere sub veșmintele preoților. Șoptesc „Mulțumesc”, așa cum am făcut mai demult, când printre degete mi s-a strecurat o brățară cu o cruciuliță din lemn atent sculptată.
    </p>
    
    <p>
      Acum am pierdut-o. Dar a fost a mea. Încă e.
    </p>

    <p>
      Cu dor, de pe banca din dreapta Mânăstirii, păpușii care s-a rupt, care a fost a mea și care încă e. Ți-am aprins o lumânare acolo, dar la „Morți” acum. Și clopotul nu l-am mai auzit împreună.
    </p>

  </div>

  <h2 class="related-story">
    Alte povești de la {{ page.title }}:
  </h2>

  <h3 class="related-story">
    Cristian de Maria Duca
  </h3>

  <h3 class="related-story">
    Liniște de Ana Baciu
  </h3>

</div>
<i> {{page.footer-note}} </i>
