---
layout: default-audio-ghid
---

<div class="audio-video-container">
  <div class="audio-image">
    <a href="/manastirea-curtea-de-arges">
      <img src="/assets/img/prev-button.svg" />
    </a>
    <img src="/assets/img/casti-audio-ghid.svg" />
    <a href="/gara-regala">
      <img src="/assets/img/next-button.svg" />
    </a>
  </div>
  <h1 class="title-audio-ghid">{{ page.title }}</h1>
  <div class="audio-video-wrapper">
    <iframe scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1661763594&color=%23ff5500&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/voice-your-place" title="Voice Your Place" target="_blank" style="color: #cccccc; text-decoration: none;">Voice Your Place</a> · <a href="https://soundcloud.com/voice-your-place/biserica-olari" title="Biserica Adormirea Maicii Domnului, Olari" target="_blank" style="color: #cccccc; text-decoration: none;">Biserica Adormirea Maicii Domnului, Olari</a></div>
    <div class="audio-video-description-wrapper">
      <div class="audio-video-description-header">
        <p>
          DESPRE EPISOD:
        </p>
        </div>
      <div class="audio-video-description-content">
        <p>
          Text narat de: Ruxandra Radu și Andrei Uță
        </p>
        <p>
          Prezentare: Andra Șerban
        </p>
        <p>
          Povestiri: Maia Negru și Ana Baciu
        </p>
        <p>
          Editare și mixaj: Maria Salomia
        </p>
      </div>
    </div>
    <div class="audio-video-description-wrapper">
      <div class="audio-video-description-header">
        <p>
          DESPRE OBIECTIV:
        </p>
      </div>
      <div class="audio-video-description-content">
        <p>
          Biserica de secol XVII, îngrijită, posibil ridicată de breasla olarilor. Unică în Țara Românească prin silueta ei specifică arhitecturii bisericilor din Moldova, cu plan tip sală și clopotniță alipită pronaosului pe latura de sud.
        </p>
      </div>
    </div>
  </div>
  <div class="photo-buttons">
      <div class="prev-button">
        <a href="/manastirea-curtea-de-arges">
          <img src="/assets/img/prev-button.svg" />
        </a>
        <div class="prev-button-description">
          <p> Episod anterior </p>
          <p> Mănăstirea Curtea de Ag. </p>  
        </div>
      </div>  
    <div class="image-wrapper">
      <img src="/assets/img/san-nicoara.svg" />
    </div>
    <div class="next-button">
      <div class="next-button-description">
        <p> Următorul episod: </p>
        <p> Gara Regală </p>
      </div>
      <a href="/gara-regala">
        <img src="/assets/img/next-button.svg" />
      </a>
    </div>
  </div>
  <div class="next-story">
    <div class="next-story-description">
      <p>
        Vizitați în continuare pe traseu:
      </p>
      <p>
        <a href="/gara-regala">
          Gara Regală
        </a>
      </p>
    </div>
      <img src="/assets/img/tooltip.svg" />
  </div>
  <div class="audio-video-locuri-povesti">
    <h1 class="title-audio-ghid">Locuri și povești</h1>
    <p>
      La atelierul de scriere creativă din cadrul Școlii de Vară Voice Your Place Curtea de Argeș participanții au scris o serie de povești scurte în relație cu cele șase obiective de patrimoniu cu îndrumarea Cristinei Chira. Pentru cineva care le are aproape, locurile acestea pot însemna o mulțime de alte lucruri: acasă, familie, prietenie, copilărie, adolescență, școală (cu tot ce au ele bun și mai puțin bun).  Poveștile sunt integrate în audio ghid sub forma unor fragmente care își propun să aducă mai aproape ascultătorul de viața comunității locale.
    </p>
  </div>
  <div class="audio-video-poveste">
    <p> Împăcarea de la Biserica Olari <br>
      de Maia Negru
    </p>

    <p>
      Vara trecută m-am certat cu prietena mea cea mai bună. Încă țin minte sentimentul de atunci, plângeam pentru că simțeam că o pierd, însă aveam o speranță și aceea era iubirea pe care o aveam una pentru cealaltă. Bianca era plecată la București când m-a sunat și mi-a auzit vocea tremurândă. Mi-a spus să mă liniștesc, însă eu o tot întrebam dacă o să mai fim prietene, dacă o să mai vorbim și o să mai fie la fel. Mi-a răspuns că vorbim când se întoarce.
    </p>

    <p>
      Până a ajuns, m-am plimbat prin curtea bisericii Olari. De la poartă, vedeam casa în care locuia ea. Ne întâlneam deseori la biserică și stăteam pe zid, râzând și discutând întâmplările zilei. Mi se părea de negândit să nu mai fiu prietenă cu Bianca. Ea îmi arătase cum să am încredere în lume, cum să înțeleg persoanele din jurul meu și cum să țin cont de limitele mele.
    </p>

    <p>
      Nu după mult, a apărut. Plecase cât de repede putuse din București. M-a luat în brațe și mi-a zis că nimic nu ne-ar putea despărți.
    </p>
    
    <p>
      Am așteptat apusul pe zidul bisericii și ne-am făcut promisiunea că niciodată nu vom renunța la prietenia noastră.
    </p>

  </div>

  <h2 class="related-story">
    Alte povești de la {{ page.title }}:
  </h2>

  <h3 class="related-story">
    Liniște de Ana Baciu
  </h3>

</div>
<i> {{page.footer-note}} </i>
