---
layout: default-project
---

<div class="proiect-title">Voice Your Place</div>

  <div class="proiect-container">
    <div class="proiect-left-half">
      <p>„Voice Your Place” este un proiect care se concentrează asupra comunității, apartenenței și valorificării mediul construit prin realizarea unui audio ghid narat de adolescenți despre arhitectura de patrimoniu din orașul lor. Obiectivul ghidului audio este să devină o unealtă social-pedagogică ce implică adolescenții într-un proces ludic, dar conștient de explorare, aprofundare și apreciere a patrimoniului. </p>
      <p>Audio ghidul Voice Your Place: Curtea de Argeș a fost realizat în cadrul Școlii de vară, în luna iulie 2023, unde au participat douăzeci de adolescenți din comunitatea locală. Pe parcursul celor trei săptămâni au fost realizate ateliere de: arhitectură, soundscape, scriere creativă, interpretare și înregistrări într-un studio local. Atelierele, coordonate de invitați din domeniile creative vizate, au urmărit realizarea unor componente esențiale din alcătuirea audio ghidului, dar și crearea unor perspective multiple asupra clădirilor de patrimoniu studiate, care să contureze și să aprofundeze complexitatea lor.
      </br>
      Audio ghidul Voice Your Place: Curtea de Argeș cuprinde șase episoade: Biserica Sfântul Nicolae Domnesc, Ruina Bisericii Sân Nicoară, Mănăstirea Curtea de Argeș, Biserica Adormirea Maicii Domnului – Olari, Gara Regală și Casa Norocea.
      Proiectul Voice Your Place și Școala de Vară sunt concepute să fie realizate și în alte orașe sau sate din țară. Proiectul de la Curtea de Argeș poate fi considerat un proiect pilot, sperăm noi dintr-o rețea de audio ghiduri care nu oferă o simplă narațiune, ci sunt cumulul și produsul unei proces de cunoaștere și apropiere a comunității tinere locale de patrimoniul construit, oferind în același timp vizitatorului și ascultătorului experiența de a auzi prin vocea comunității poveștile locului.</p>
      <figure>
        <img class="project-img" src="{{ site.github.url }}/assets/img/{{ page.image }}"/>
        <figcaption>@Petrecerea de încheiere a Școlii de Vară de la Curtea de Argeș, 2023</figcaption>
      </figure>

    </div>
    
    <div class="proiect-right-half">
      <p>Echipa proiectului</p>
      <p>
        Participanții Școlii de Vară Voice Your Place Curtea de Argeș 2023:
        </br>
        Ana Baciu, Ana-Maria Baltag-Diaconu, Eduard Băiașu, Nectaria Craus, Elina Dascălu, Maria Duca, Iani Hirică, Alexia Jianu, Maia Negru, Mădălina Niță, Ionuț Păduraru, Eliza Rada, Ruxandra Radu, Ana-Maria Răducanu, Radu Răducanu, Maria Simion, Izabela Stoica, Andra Șerban, Luca Șerbănoiu, Andrei Uță.
      </p>

      <p>
        Audioghidul a fost realizat în urma unei serii de ateliere: <br>
        Atelierul de arhitectură cu Iarina Tavă, Ana Porim și Alex Răuță. <br>
        Atelierul de soundscape cu Maria Salomia. <br>
        Atelierul de scriere creativă cu Cristina Chira. <br>
        Și Atelierul de Interpretare cu Alina Medoia. <br>
      </p>
      
      <p>
        Documentarea obiectivelor a fost realizată de: Mihai Manolescu și Raluca Grama. <br>
        Textele audioghidului au fost scrise de: Cristina Chira și Iarina Tavă.  
        Poveștile audioghidului au fost realizate de către adolescenții participanți la atelierul de scriere creativă cu îndrumarea Cristinei Chira.
      </p>
      
      <p>
        Înregistrările de teren au fost realizate de adolescenții participanți la atelierul de Soundscape cu îndrumarea Mariei Salomia și înregistrările în studio la Radio DeArgeș.ro, împreună cu Didi Dumitrescu, Alina Medoia, Maria Salomia și Iarina Tavă.
      </p>

      <p>
        Website dezvoltat de: Gabriel Mocanu. Grafică: nuumroom studio.
      </p>
      
      <p>
        Mulțumiri speciale celor care ne-au ajutat să realizăm prototipul audio ghidului în 2022: elevilor de la 8C, profesorilor de la școala Mircea cel Bătrân și prietenilor: Daria Barbălată și Sabine Schneider-Maunoury. 
      </p>

      <p>
        Creatoare și coordonatoare de proiect: Iarina Tavă
      </p>
      
      <p>
        Voice Your Place: Curtea de Argeș este un proiect Ordinul Arhitecților România: Filiala Teritorială Argeș.  
      </p>

      <p>
        Mulțumim partenerilor noștri: <br>
        Asociația De-a Arhitectura și Muzeul Municipal Curtea de Argeș <br>
        Și sponsorului nostru: Wienerberger Romania <br>
        Mulțumim Goethe - Institut.
      </p>

      <p>
        Acțiune cofinanțată de Consiliul Județean Argeș, în cadrul apelului de fonduri nerambursabile pentru tineret, cultură, mediu 2023.
      </p>

    </div>
  </div> 

  <div class="social-sponsors">
    {% for item in site.data.settings.social-partners %}
      <img src="{{ site.github.url }}/assets/img/{{ item.image }}" />
    {% endfor %}
  </div>