---
layout: en-default-project
---

<div class="proiect-title">Voice Your Place</div>

  <div class="proiect-container">
    <div class="proiect-left-half">
      <p>
        „Voice Your Place” is a project that focuses on community, belonging and valuing the built environment by making an audio guide narrated by teenagers about the heritage architecture of their town. The aim of the audio guide is to become a social-pedagogical tool that engages teenagers in a playful but conscious process of exploring, deepening and appreciating local heritage.
      </p>
      <p>
        The audio guide in English was made during the Voice Your Place: Curtea de Arges 2024 Workshops, where twenty teenagers from the local community participated.
        </br>
        During the three weeks, workshops were held in: architecture, acting, interviews and recordings in a local studio. The workshops, coordinated by guests from various creative fields, aimed to create key components of the audio guide, as well as to develop multiple perspectives of the studied heritage buildings, shaping and deepening their complexity.
        </br>
        Voice Your Place: Curtea de Argeș, began in 2023 with a three-week summer school and studio recordings to create the audio guide in romanian. During the summer school, workshops were held in: architecture, creative writing, soundscape and acting. The stories included in the audio guide were written during the creative writing workshop. The sounds that illustrate the audio guide were recorded by the participating teenagers during the soundscape workshop.
        </br>
        The 2024 Workshops continued the process of developing the audio guide, including the making of the signage system in the city and the recording of a series of interviews with the community. 
        </br>
        The Voice Your Place: Curtea de Argeș audio guide includes six episodes: the Royal Church of Saint Nicolas, the Ruins of Sân Nicoară Church, the Curtea de Argeș Monastery, the Church of the Assumption - Olari, the Royal Railway Station and the Norocea House. 
        </br>
        The Voice Your Place project and audio guide offers more than a simple narrative, it is the result of a process of knowledge and awareness of the built heritage by the local young community, offering visitors and listeners the experience of hearing the stories of the place through the voice of the community.
      </p>
      <figure>
        <img class="project-img" src="{{ site.github.url }}/assets/img/{{ page.image }}"/>
        <figcaption>@The closing party of the Summer School at Curtea de Argeș, 2023</figcaption>
      </figure>

    </div>

    <div class="proiect-right-half">
      <p>
        Project team
      </p>
      <p>
        The audio guide in English was made during the Voice Your Place: Curtea de Arges 2024 workshops by the following teenagers:
        <br>
        Odette Andrei, Ana Baciu, Corina Badea, Patricia Bădița, Eduard Băiașu, Raluca Ciolcă, Maria Dinescu, Ștefan Enache, Mihnea Golea, Raluca Grozavu, Andra Ică, Giulia Iorga, Alexandra Leca Negoi, Adelina Marin, Lavinia Milcă, Eliza Petec, Cristian Sechea, Ingrid Sora, Georgiana Stan, Sara Ungureanu.
      </p>

      <p>
        The audio guide was made during a series of workshops: <br>
        Architecture workshops with Iarina Tava and Alex Răuță, and Ana Porim and Alexandra Parpală as volunteers. <br>
        Soundscape workshop with Maria Salomia. <br>
        Creative writing and interview workshop with Cristina Chira. <br>
        Acting workshops with Alina Medoia. <br>
      </p>

      <p>
        The historical documentation for the monuments was provided by Mihai Manolescu and Raluca Grama. <br>
        The texts were written by Cristina Chira and Iarina Tava.
      </p>

      <p>
        The audio guide stories were written by the participating teenagers in the creative writing workshop, field recordings were made by teenagers during the Soundscape workshop, while the studio recordings in English took place in Radio DeArges Studio and were supervised by Maria Salomia and Iarina Tavă.
      </p>

      <p>
        Editing and mixing: Maria Salomia.
      </p>

      <p>
        Program creator and Project coordinator: Iarina Tava.
      </p>
 
      <p>
        Website developed by: Gabriel Mocanu.
      </p>

      <p>
        Graphic design: nuumroom studio.
      </p>

      <p>
        Voice you place Curtea de Arges is a project of the Romanian Order of Architects: Argeș Territorial Branch.
      </p>

      <p>
        We are grateful to our partners: De-a Arhitectura Association, Nod Makerspace Association, and Curtea de Argeș Municipal Museum, endorsed by the Curtea de Argeș City Hall.
      </p>

      <p>
        The audio guide in English and The Voice Your Place: Curtea de Arges 2024 workshops were supported by The Romanian Order of Architects from the architectural stamp duty.
      </p>

      <p>
        The audio guide in Romanian and Voice Your Place Curtea de Arges 2023 Summer School were co-financed by Arges County Council within the call for non-refundable funds for Youth, Culture, and Environment.
      </p>

    </div>
  </div> 

  <div class="social-sponsors">
    {% for item in site.data.settings.en-social-partners %}
      <img src="{{ site.github.url }}/assets/img/{{ item.image }}" />
    {% endfor %}
  </div>
