---
layout: default-qr
---

<div class="qr-all-list">
  <img
    src="{{ site.github.url }}/assets/img/logo-audio-ghid.png"
    alt="Audio Ghid logo"
  />

  <div class="qr-all-description">
    <p>{{ page.description }}</p>
  </div>

  <div class="qr-all-rounded-button">
    <p>The Royal Church of St. Nicholas</p>
    <div class="qr-all-images">
      <img src="{{ site.github.url }}/assets/img/qr-all-play.png" alt="Play" />
      <p>{{ page.play-description }}</p>
      <img src="{{ site.github.url }}/assets/img/qr-all-pin.png" alt="Pin" />
      <p>{{page.pin-description}}</p>
    </div>
  </div>

  <div class="qr-all-rounded-button">
    <p>The Royal Church of St. Nicholas</p>
    <div class="qr-all-images">
      <img src="{{ site.github.url }}/assets/img/qr-all-play.png" alt="Play" />
      <p>{{ page.play-description }}</p>
      <img src="{{ site.github.url }}/assets/img/qr-all-pin.png" alt="Pin" />
      <p>{{page.pin-description}}</p>
    </div>
  </div>

  <div class="qr-all-rounded-button">
    <p>The Ruins of Sân Nicoară Church</p>
    <div class="qr-all-images">
      <img src="{{ site.github.url }}/assets/img/qr-all-play.png" alt="Play" />
      <p>{{ page.play-description }}</p>
      <img src="{{ site.github.url }}/assets/img/qr-all-pin.png" alt="Pin" />
      <p>{{page.pin-description}}</p>
    </div>
  </div>

  <div class="qr-all-rounded-button">
    <p>Curtea de Argeș Monastery</p>
    <div class="qr-all-images">
      <img src="{{ site.github.url }}/assets/img/qr-all-play.png" alt="Play" />
      <p>{{ page.play-description }}</p>
      <img src="{{ site.github.url }}/assets/img/qr-all-pin.png" alt="Pin" />
      <p>{{page.pin-description}}</p>
    </div>
  </div>

  <div class="qr-all-rounded-button">
    <p>Olari Church</p>
    <div class="qr-all-images">
      <img src="{{ site.github.url }}/assets/img/qr-all-play.png" alt="Play" />
      <p>{{ page.play-description }}</p>
      <img src="{{ site.github.url }}/assets/img/qr-all-pin.png" alt="Pin" />
      <p>{{page.pin-description}}</p>
    </div>
  </div>

  <div class="qr-all-rounded-button">
    <p>The Royal Railway Station</p>
    <div class="qr-all-images">
      <img src="{{ site.github.url }}/assets/img/qr-all-play.png" alt="Play" />
      <p>{{ page.play-description }}</p>
      <img src="{{ site.github.url }}/assets/img/qr-all-pin.png" alt="Pin" />
      <p>{{page.pin-description}}</p>
    </div>
  </div>

  <div class="qr-all-rounded-button">
    <p>Norocea House</p>
    <div class="qr-all-images">
      <img src="{{ site.github.url }}/assets/img/qr-all-play.png" alt="Play" />
      <p>{{ page.play-description }}</p>
      <img src="{{ site.github.url }}/assets/img/qr-all-pin.png" alt="Pin" />
      <p>{{page.pin-description}}</p>
    </div>
  </div>

  <a href="/en/audio-guide">
    <div class="qr-all-about">
      <p>{{page.footer-description-headline}}</p>
      <p>{{page.footer-description}}</p>
    </div>
  </a>
</div>
