---
layout: default-qr
---

<div class="qr-list">
  <img
    src="{{ site.github.url }}/assets/img/logo-audio-ghid.png"
    alt="Audio Ghid logo"
  />
  <a href="/ro/{{page.href}}">
    <div class="qr-rounded-button">
      <p>{{ page.ro-description }}</p>
      <p>{{ page.ro-title }}</p>
    </div>
  </a>
  <a href="/en/{{page.href}}">
    <div class="qr-rounded-button">
      <p>{{ page.en-description }}</p>
      <p>{{ page.en-title }}</p>
    </div>
  </a>

  <a href="/ro/audio-guide">
    <div class="qr-about">
      <p>{{page.ro-description-audio-guide}}</p>
      <p>{{page.ro-audio-guide}}</p>
    </div>
  </a>

  <a href="/en/audio-guide">
    <div class="qr-about">
      <p>{{page.en-description-audio-guide}}</p>
      <p>{{page.en-audio-guide}}</p>
    </div>
  </a>
</div>
