---
layout: ro-default-qr-all
---

<div class="qr-all-list">
  <div class="lang-nav">
    <a href="/en/qr/curtea-de-arges"> Switch to English </a>
  </div>

  <img
    src="{{ site.github.url }}/assets/img/logo-audio-ghid.png"
    alt="Audio Ghid logo"
  />

  <div class="qr-all-description">
    <p>{{ page.description }}</p>
  </div>

  <div class="qr-all-rounded-button">
    <p>{{ page.nicolae-domnesc-title}}</p>
    <div class="qr-all-images">
      <a href="{{page.nicolae-domnesc-audio}}">
        <img
          src="{{ site.github.url }}/assets/img/qr-all-play.png"
          alt="Play"
        />
        <p>{{ page.play-description }}</p>
      </a>
      <a href="{{page.nicolae-domnesc-map}}">
        <img src="{{ site.github.url }}/assets/img/qr-all-pin.png" alt="Pin" />
        <p>{{page.pin-description}}</p>
      </a>
    </div>
  </div>

  <div class="qr-all-rounded-button">
    <p>{{ page.san-nicoara-title}}</p>
    <div class="qr-all-images">
      <a href="{{page.san-nicoara-audio}}">
        <img
          src="{{ site.github.url }}/assets/img/qr-all-play.png"
          alt="Play"
        />
        <p>{{ page.play-description }}</p>
      </a>
      <a href="{{page.san-nicoara-map}}">
        <img src="{{ site.github.url }}/assets/img/qr-all-pin.png" alt="Pin" />
        <p>{{page.pin-description}}</p>
      </a>
    </div>
  </div>

  <div class="qr-all-rounded-button">
    <p>{{ page.curtea-de-arges-title}}</p>
    <div class="qr-all-images">
      <a href="{{page.curtea-de-arges-audio}}">
        <img
          src="{{ site.github.url }}/assets/img/qr-all-play.png"
          alt="Play"
        />
        <p>{{ page.play-description }}</p>
      </a>
      <a href="{{page.curtea-de-arges-map}}">
        <img src="{{ site.github.url }}/assets/img/qr-all-pin.png" alt="Pin" />
        <p>{{page.pin-description}}</p>
      </a>
    </div>
  </div>

  <div class="qr-all-rounded-button">
    <p>{{ page.olari-title}}</p>
    <div class="qr-all-images">
      <a href="{{page.olari-audio}}">
        <img
          src="{{ site.github.url }}/assets/img/qr-all-play.png"
          alt="Play"
        />
        <p>{{ page.play-description }}</p>
      </a>
      <a href="{{page.olari-map}}">
        <img src="{{ site.github.url }}/assets/img/qr-all-pin.png" alt="Pin" />
        <p>{{page.pin-description}}</p>
      </a>
    </div>
  </div>

  <div class="qr-all-rounded-button">
    <p>{{ page.gara-regala-title}}</p>
    <div class="qr-all-images">
      <a href="{{page.gara-regala-audio}}">
        <img
          src="{{ site.github.url }}/assets/img/qr-all-play.png"
          alt="Play"
        />
        <p>{{ page.play-description }}</p>
      </a>
      <a href="{{page.gara-regala-map}}">
        <img src="{{ site.github.url }}/assets/img/qr-all-pin.png" alt="Pin" />
        <p>{{page.pin-description}}</p>
      </a>
    </div>
  </div>

  <div class="qr-all-rounded-button">
    <p>{{ page.casa-norocea-title}}</p>
    <div class="qr-all-images">
      <a href="{{page.casa-norocea-audio}}">
        <img
          src="{{ site.github.url }}/assets/img/qr-all-play.png"
          alt="Play"
        />
        <p>{{ page.play-description }}</p>
      </a>
      <a href="{{page.casa-norocea-map}}">
        <img src="{{ site.github.url }}/assets/img/qr-all-pin.png" alt="Pin" />
        <p>{{page.pin-description}}</p>
      </a>
    </div>
  </div>

  <a href="/ro/audio-guide">
    <div class="qr-all-about">
      <p>{{page.footer-description-headline}}</p>
      <p>{{page.footer-description}}</p>
    </div>
  </a>
</div>
