---
layout: default-audio-guide
---

<div class="audio-video-container">
  <div class="audio-image">
    <a href="/ro/biserica-domneasca">
      <img src="/assets/img/prev-button.svg" />
    </a>
    <img src="/assets/img/casti-audio-ghid.svg" />
    <a href="/ro/manastirea-curtea-de-arges">
      <img src="/assets/img/next-button.svg" />
    </a>
  </div>
  <h1 class="title-audio-ghid">{{ page.title }}</h1>
  <div class="audio-video-wrapper">
    <div class="prev-button">
      <a href="/ro/biserica-domneasca">
        <img src="/assets/img/prev-button.svg" />
      </a>
      <div class="prev-button-description">
        <p> Episod anterior </p>
        <a href="/ro/biserica-domneasca">
          <p> Biserica Domnească </p>
        </a>
      </div>
    </div>

  <div class="media-player">
    <div class="progress-container">
      <span class="current-time" id="current-time">0:00</span>
      <input
        type="range"
        min="0"
        max="100"
        value="0"
        class="progress-bar"
        id="progress-bar"
      />
      <span class="total-time" id="total-time">0:00</span>
    </div>
    <div class="play-button-container">
      <div class="play-button" id="play-button">
        <span id="play-icon">
          <img src="/assets/img/play-button.png"> </img>
        </span>
        <span id="pause-icon" style="display: none">
          <img src="/assets/img/pause-button.png"> </img>
        </span>
      </div>
    </div>
    <audio id="audio" src="/assets/audio/VYP_Ep1_Ruina_RO_compressed.mp3"></audio>
  </div>

    <script src="/assets/js/script.js"></script>



    <div class="next-button">
      <div class="next-button-description">
        <p> Următorul episod: </p>
        <a href="/ro/manastirea-curtea-de-arges">
          <p> Mănăstirea Curtea de Ag. </p>
        </a>
      </div>
      <a href="/ro/manastirea-curtea-de-arges">
        <img src="/assets/img/next-button.svg" />
      </a>
    </div>

  </div>
  <div class="audio-video-description-wrapper">
      <div class="audio-video-description-header">
        <p>
          DESPRE EPISOD:
        </p>
        </div>
      <div class="audio-video-description-content">
        <p>
          Text narat de:
        </p>
        <p>
          Radu Răducanu și Izabela Stoica
        </p>
        <p>
          Prezentare: Andra Șerban
        </p>
        <p>
          Povestiri: Ionuț Păduraru, Izabela Stoica și Radu Răducanu
        </p>
        <p>
          Editare și mixaj: Maria Salomia
        </p>
      </div>
    </div>
    <div class="audio-video-description-wrapper">
      <div class="audio-video-description-header">
        <p>
          DESPRE OBIECTIV:
        </p>
      </div>
      <div class="audio-video-description-content">
        <p>
          Biserica de secol XIV, aflată în ruină. Se presupune că a fost construită în aceeași perioadă cu biserica Sfântul Nicolae Domnesc. De rit ortodox cu element atipic, turnul de la intrare.
        </p>
      </div>
    </div>
  </div>
  <div class="photo-buttons">
    <div class="image-wrapper">
      <img src="/assets/img/san-nicoara.svg" />
    </div>
  </div>
  <div class="next-story">
    <div class="next-story-description">
      <p>
        Vizitați în continuare pe traseu:
      </p>
      <p>
        <a href="/ro/manastirea-curtea-de-arges">
          Mănăstirea Curtea de Argeș
        </a>
      </p>
    </div>
      <img src="/assets/img/tooltip.png" alt="Tooltip"/>
  </div>
  <div class="audio-video-locuri-povesti">
    <h1 class="title-audio-ghid">Locuri și povești</h1>
    <p>
      La atelierul de scriere creativă din cadrul Școlii de Vară Voice Your Place: Curtea de Argeș participanții au scris o serie de povești scurte în relație cu cele șase obiective de patrimoniu. Pentru cineva care le are aproape, locurile acestea pot însemna o mulțime de alte lucruri: acasă, familie, prietenie, copilărie, adolescență, școală. Poveștile sunt integrate în audio ghid sub forma unor fragmente care își propun să aducă mai aproape ascultătorul de viața comunității locale.
    </p>
  </div>
  <div class="audio-video-poveste">
    <p>
      Ultima dată pentru totdeauna
    </p>
    
    <p>
      de Izabela Stoica
   </p>

    <p>
      E primăvară. E destul de frig pentru un început de martie, dar dai vina pe faptul că ești într-o „zonă de munte”. După o plimbare pe bulevardul plin de tarabe cu mărțișoare și flori care te fac să te întrebi: „Dacă eu de-abia rezist pe frigul ăsta, ele cum o fac?”, ajungi lângă parcul „Sân Nicoară”.
    </p>

    <p>
      Vrei să urci la ruină și îți atrag atenția trei fete pe una dintre bănci. Râd mult prea tare, dar se vede că nu le pasă. Mănâncă ÎNGHEȚATĂ și îți spui, din nou, „Oare sunt eu prea friguroasă?”.
    </p>

    <p>
      E vară. Au trecut câteva luni și acum vremea e perfectă pentru o plimbare în care te bucuri de mirosul teilor. De data asta nu te mai distrage nimic, urci direct către ruina Sân Nicoară. Când ajungi în dreptul ei, aceleași trei râsete întrerup liniștea peisajului. Parcă aparțin locului, sunt mereu acolo. Curiozitatea te împinge să arunci o privire și în interiorul ruinei, dar nu vrei să le întrerupi, așa că mergi mai departe.
    </p>
    
    <p>
      E toamnă. Știi cum se spune, a treia oară e cu noroc. Speri că de data asta vizitezi cu totul ruina. Și reușești. Iar când vrei să cobori, le observi. Normal că sunt tot acolo. Fac fotografii între frunze, ca să fie și ele în ton cu ceilalți de pe Instagram.
    </p>

    <p>
      E iarnă. Nu mai ai nevoie de introducere, știi că sunt acolo și fără să verifici, făcând schimb de cadouri de Crăciun pe aceeași bancă.
    </p>

    <p>
      Lași să treacă mai mult timp. E iar toamnă. Dar iată că s-a produs o schimbare. Sunt doar două acum, te întrebi ce s-a întâmplat cu a treia.
    </p>

    <br>

    <p>
      Să știi că ne e dor de ea, dar o să ne vedem toate la vară. Iar dacă revii peste un an, banca va fi goală. Peste zece, vom reveni și noi, ca „turiști cu amintiri”, iar eu voi vrea să mă întorc în timp, pe bancă, lângă cele două prietene ale mele.
    </p>

  </div>

  <div class="related-story-title">
    Alte povești de la {{ page.title }}:
  </div>

  <div class="related-story">
    {% for post in site.data.settings.community-stories %}
      {% if post.location == "RuinaBisericaSanNicoara" %} 
        <a href="{{ post.url }}">
          <p>
            {{ post.title }} de {{ post.author }}
          </p>
        </a>
      {% endif %}
    {% endfor %}
    </br>
    </br>
    </br>
    </br>
  </div>

</div>
<i> {{page.footer-note}} </i>
