---
layout: en-default-story-comunitate
---

<div class="story-comunitate-wrapper">
  <div class="story-comunitate-title">
    <p>{{ page.title }}</p>
    <p>{{ page.author }}</p>
  </div>

  <div class="story-comunitate-content">
    {{ content }}
    <br />
    <br />

    {% if page.title == "Last Time Forever" %}

    <hr style="width: 30%" />
    <br />
    Mărțișor (Romanian pronunciation: [mərt͡siˈʃor]) is a tradition celebrated at
    the beginning of spring in March in Romania and Moldova, involving an
    intertwined red and white string with hanging tassels and a small token or
    trinket attached. The modern tradition involves wearing a small object on
    the chest, such as a brooch or a pin, during the first part of the month,
    starting on the 1st of March. Its name is a diminutive of "Martie", the
    Romanian word for March, and means "little March". {% endif %}
  </div>

  <div class="footer-note">{{ page.footer-note}}</div>
</div>
